{% extends '_layout' %}
{% block content %}
.main-container
  {% if entry.headingImage | length %}
  header(style="{% for asset in entry.headingImage.limit(1) %}background-image: url('{{ craft.imager.transformImage(asset, { width: 1200, format: 'jpg' }) }}');{% endfor %}").uk-background-cover.article-header
  {% endif %}
  {% for block in entry.pageContent %}
  {% if block.type == 'orangeBlock' %}
  section.uk-padding-large.orange-grad2.white-text
    .max-width
      .uk-padding-large.uk-padding-remove-left.uk-padding-remove-right.orange-text-bg
        .row
          .col.col--3-of-4
            p.pre-line {{ block.label | upper }}
            h2.uk-margin-medium-bottom {{ block.heading }}
            //a(href="http://").uk-text-lead.white-btn.uk-margin-medium-left Company directory (57)
            .col2
              {{ block.columns }}
  {% elseif block.type == 'whiteBlock' %}
  section.uk-padding-large.white-block(class="{% if entry == 'Education' %}education-padding{% endif %}")
    .max-width
      .uk-padding-large.uk-padding-remove-left.uk-padding-remove-right.rel
        .grey-text-bg-abs
        .row
          .col.col--3-of-4
            p.pre-line.dark {{ block.label | upper }} 
            h2 {{ block.heading }}
            .row
              {% if block.columns | length %}
              .col.col--2-of-2.col2
                {{ block.columns }}
              {% elseif block.column2 | length %}
              .col.col--2-of-2
                {{ block.column2 }}
              {% endif %}
              {% for row in block.bulletBlocks %}
              .col.col--1-of-4
              .col.col--3-of-4
                .uk-margin-medium(class="{% if loop.first %}uk-margin-medium-top{% endif %}")
                  p.pre-line.dark {{ row.heading | upper }}
                  .bullet-block
                      p {{ row.body }}
              {% endfor %}
          .col.col--1-of-4.text-right
            {% for link in block.links %}
            div
              a(href="{{ link.url }}").orange-btn {{ link.title }}
            {% endfor %}
  {% elseif block.type == 'fullWidthSlider' %}
  section.uk-padding-large.full-width-slider-section
    .max-width
      .fullwidth-slider.uk-light
        .swiper-container.rel
          .uk-light.arrow-hold
            a.uk-position-center-left.uk-position-small(href='#', uk-icon="icon: chevron-left; ratio:2").z-index-10.full-width-slider-prev
            a.uk-position-center-right.uk-position-small(href='#', uk-icon="icon: chevron-right; ratio:2").z-index-10.full-width-slider-next
          .swiper-wrapper
            {% for asset in block.assets %}
            .swiper-slide.uk-background-cover
              .aspect-16-9.uk-background-cover.swiper-lazy(data-background="{{ craft.imager.transformImage(asset, { format: 'jpg', width: 1300 }) }}")
                .swiper-lazy-preloader
            {% endfor %}
          {% set grabBg = 'white' %}
          .swiper-scrollbar(class="grabbg-{{ grabBg }}")
  {% elseif block.type == 'headerImageBlock' %}
  | {% include '_includes/_header-image-block.html' %}
  {% elseif block.type == 'videoBlock' %}
  | {% include '_includes/_video-block.html' %}
  {% elseif block.type == 'videoBlockFull' %}
  | {% include '_includes/_video-block-full.html' %}
  {% elseif block.type == 'twoImage' %}
  | {% include '_includes/_two-image.html' %}
  {% elseif block.type == 'fourImage' %}
  | {% include '_includes/_four-image.html' %}
  {% elseif block.type == 'imageSlider' %}
  | {% include '_includes/_image-slider.html' %}
  {% elseif block.type == 'fullWidthImage' %}
  | {% include '_includes/_full-width-image.html' %}
  {% elseif block.type == 'paragraphBlock' %}
  section.uk-padding-large.white-block.download-block(class="{% if block.paddingTop %}pad-top-pargraph{% endif %}")
    .max-width  
      .uk-padding-small.uk-padding-remove-left.uk-padding-remove-right
        .row(class="{% if block.removePaddingBottom %}uk-padding-large uk-padding-remove-top {% endif %}")
          | {% if block.heading | length %}
          .col.col--2-of-2.uk-text-left
            h2.uk-text-lead {{block.heading}}
          | {% endif %}
          | {% if block.paragraph | length %}
          .col.col--2-of-2.uk-text-left
            {{ block.paragraph }}
          | {% endif %}
          | {% if block.download | length %}
          .col.col--2-of-2.uk-text-center
            {% for asset in block.download %}
            a(href="{{ asset.url }}")
              button.download-btn {% if block.buttonText | length %}{{ block.buttonText }}{% else %} Download {% endif %}
            {% endfor %}
            {% elseif block.buttonUrl | length %}
            a(href="{{ block.buttonUrl }}" target="_blank")
              button.download-btn {% if block.buttonText | length %}{{ block.buttonText }}{% else %} Click here {% endif %}
          {% endif %}
  {% endif %}
  {% endfor %}
{% endblock %}