{% extends '_layout' %}
{% block content %}
.main-container
  {% if entry.headingImage | length %}
  header(style="{% for asset in entry.headingImage.limit(1) %}background-image: url('{{ craft.imager.transformImage(asset, { width: 1200, format: 'jpg' }) }}');{% endfor %}").uk-background-cover.article-header
  {% endif %}
  .uk-padding-large
    .max-width
      .uk-padding-large.uk-padding-remove-top.uk-padding-remove-left.uk-padding-remove-right
        ul.uk-breadcrumb
          li
            a(href="{{ siteUrl }}news") News articles
          li
            span {{ entry.title }}
        article.uk-article
         h1.uk-article-title {{ entry.title }}
         {% if entry.section.handle == 'news' %}
         p.uk-article-meta Article posted on {{ entry.postDate | date('l, F j Y') }}
         {% endif %}
         {% for block in entry.newsContent %}
         {% if block.type == 'leadingParagraph' %}
         p.uk-text-lead {{ block.body }}
         {% elseif block.type == 'normalParagraph' %}
         {{ block.body }}
         {% elseif block.type == 'fullWidthSlider' %}
         section.uk-margin
           .max-width
             .fullwidth-slider.uk-light
               .swiper-container.rel
                 .uk-light.arrow-hold
                   a.uk-position-center-left.uk-position-small(href='#', uk-icon="icon: chevron-left; ratio:2").z-index-10.full-width-slider-prev
                   a.uk-position-center-right.uk-position-small(href='#', uk-icon="icon: chevron-right; ratio:2").z-index-10.full-width-slider-next
                 .swiper-wrapper
                   {% for asset in block.assets %}
                   .swiper-slide.uk-background-cover
                     .aspect-16-9.uk-background-cover.swiper-lazy(data-background="{{ craft.imager.transformImage(asset, { format: 'jpg', width: 1300 }) }}")
                       .swiper-lazy-preloader
                   {% endfor %}
                 {% set grabBg = 'white' %}
                 .swiper-scrollbar(class="grabbg-{{ grabBg }}")
         {% endif %}
         {% endfor %}
{% endblock %}
