{% extends '_layout' %}
{% block content %}<div class="main-container">{% if entry.headingImage | length %}<header style="{% for asset in entry.headingImage.limit(1) %}background-image: url('{{ craft.imager.transformImage(asset, { width: 1200, format: 'jpg' }) }}');{% endfor %}" class="uk-background-cover article-header"></header>{% endif %}<div class="uk-padding-large"><div class="max-width"><div class="uk-padding-large uk-padding-remove-top uk-padding-remove-left uk-padding-remove-right"><ul class="uk-breadcrumb"><li><a href="{{ siteUrl }}news">News articles</a></li><li><span>{{ entry.title }}</span></li></ul><article class="uk-article"><h1 class="uk-article-title">{{ entry.title }}</h1>{% if entry.section.handle == 'news' %}<p class="uk-article-meta">Article posted on {{ entry.postDate | date('l, F j Y') }}</p>{% endif %}
{% for block in entry.newsContent %}
{% if block.type == 'leadingParagraph' %}<p class="uk-text-lead">{{ block.body }}</p>{% elseif block.type == 'normalParagraph' %}
{{ block.body }}
{% elseif block.type == 'fullWidthSlider' %}<section class="uk-margin"><div class="max-width"><div class="fullwidth-slider uk-light"><div class="swiper-container rel"><div class="uk-light arrow-hold"><a href="#" uk-icon="icon: chevron-left; ratio:2" class="uk-position-center-left uk-position-small z-index-10 full-width-slider-prev"></a><a href="#" uk-icon="icon: chevron-right; ratio:2" class="uk-position-center-right uk-position-small z-index-10 full-width-slider-next"></a></div><div class="swiper-wrapper">{% for asset in block.assets %}<div class="swiper-slide uk-background-cover"><div data-background="{{ craft.imager.transformImage(asset, { format: 'jpg', width: 1300 }) }}" class="aspect-16-9 uk-background-cover swiper-lazy"><div class="swiper-lazy-preloader"></div></div></div>{% endfor %}</div>{% set grabBg = 'white' %}<div class="swiper-scrollbar grabbg-{{ grabBg }}"></div></div></div></div></section>{% endif %}
{% endfor %}</article></div></div></div></div>{% endblock %}