{% macro upload(className, inputName, barName) %}
<div class="js-upload uk-placeholder uk-text-center {{ className }}">
    <span uk-icon="icon: cloud-upload"></span>
    <span class="uk-text-middle">Attach images by dropping them here or</span>
    <div uk-form-custom>
        <input type="file" multiple name="{{ inputName }}">
        <span class="uk-link">selecting them</span>
    </div>
</div>
<progress id="{{ barName }}" class="uk-progress" value="0" max="100" hidden></progress>
<script type="text/javascript">
  if(window.uploadVars){
    window.uploadVars.push( className = { bar: '{{ barName }}', upload: '.{{ className }}' } );
  }else{
    window.uploadVars = [
      className = {
        bar: '{{ barName }}',
        upload: '.{{ className }}'
      }
    ];
  }
</script>
{% endmacro %}
