<footer>
<img src="{{ siteUrl }}res/img/footer-logo2.png" alt="AJA">
</footer>

</div>
</div>
<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
<script src="{{ siteUrl }}res/js/vue-lazyload.js"></script>
<script src="{{ siteUrl }}res/js/vue.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
<script src="{{ siteUrl }}res/js/swiper.min.js"></script>
<script src="{{ siteUrl }}res/js/photoswipe.min.js"></script>
<script src="{{ siteUrl }}res/js/photoswipe-ui-default.min.js"></script>
<script src="{{ siteUrl }}res/js/moment.min.js"></script>
<script src="{{ siteUrl }}res/js/pikaday.min.js"></script>
<script src="{{ siteUrl }}res/js/fine-uploader.min.js"></script>
<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyDNdAG8_qepqLPg2Pv8nQbtPfcBoGqHr_8&extension=.js"></script>
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="{{ siteUrl }}res/js/vue-multiselect.min.js"></script>

{% include '_includes/_fine-upload-template.html' %}

<!-- <script src="{{ siteUrl }}res/js/dropzone.js"></script> -->

<!-- <script src="{{ siteUrl }}res/js/jquery-3.3.1.min.js"></script> -->
<!-- <script src="{{ siteUrl }}res/js/jquery.fileupload.min.js"></script> -->


<script src="{{ siteUrl }}res/js/main.min.js?NEW"></script>
<script src="{{ siteUrl }}res/js/main2.js?v=50"></script>


<script src="{{ siteUrl }}res/js/uikit.min.js"></script>
<script src="{{ siteUrl }}res/js/uikit-icons.min.js"></script>

</body>
</html>
