section.uk-padding-large.four-img-block.uk-remove-padding-top
   .max-width
      .row
            {% for asset in block.images %}
            .col.col--1-of-4
                  .four-img-image(style="background-image: url('{{asset.url}}')")
            {% endfor %}      