<section class="uk-padding-large four-img-block uk-remove-padding-top"><div class="max-width"><div class="row">{% for asset in block.images %}<div class="col col--1-of-4"><div style="background-image: url('{{asset.url}}')" class="four-img-image"></div></div>{% endfor %}      </div></div></section>