<section class="uk-padding-large full-width-slider-section"><div class="max-width"><h1>test
{% for asset in block.image %}<img src="{{siteUrl}}{{block.image.url() }}" alt=""/>{% endfor %}</h1></div></section>