section.uk-padding-large.full-width-slider-section
   .max-width
      h1 test
        | {% for asset in block.image %}
        img(src="{{siteUrl}}{{block.image.url() }}", alt="")
        | {% endfor %}