section.uk-padding-large.video-block.image-slider(class="{% if entry == 'Education' %}uk-education-large{% endif %}")
   .max-width
        .row(style="text-align: center;")
            .col.col--3-of-4
                .swiper-outer(data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="700")
                        .swiper-container2
                            .swiper-wrapper
                                | {% for asset in block.image %}
                                .swiper-slide
                                    .swiper-inner(style="background-image: url('{{asset.url}}')")
                                | {% endfor %}
                            .swiper-pagination
                            .swiper-button-prev
                            .swiper-button-next