#mobile-nav
  //- <button class="uk-offcanvas-close" type="button" @click="openMobileNav($event)" uk-close></button>
  .uk-padding
    .uk-panel
      ul.uk-nav.uk-nav-default
        li.uk-nav-header MENU
        li
          a(href="{{ siteUrl }}") Home
        li
          a(href="{{ siteUrl }}about") About
        li
          a(href="{{ siteUrl }}projects") Projects
        li
          a(href="{{ siteUrl }}members") Members
        li
          a(href="{{ siteUrl }}companies") Companies
        li
          a(href="{{ siteUrl }}zero-carbon") Zero Carbon
        li
          a(href="{{ siteUrl }}events") Events
        li
          a(href="{{ siteUrl }}news") News
        li
          a(href="{{ siteUrl }}contact") Contact
        li.uk-nav-header.uk-margin-top ACCOUNT
        {% if currentUser %}
        li
          a(href="{{ logoutUrl }}") Logout, {{ currentUser.name }}
        {% else %}
        li
          a(href="{{ siteUrl }}user") Login
        {% endif %}
