{% if grabBg is not defined %}
{% set grabBg = 'white' %}
{% endif %}
.multi-block-swiper
  .swiper-container
    a.uk-position-center-left.uk-position-small(href='#', uk-icon="icon: chevron-left; ratio:2").z-index-10.slide-prev
    a.uk-position-center-right.uk-position-small(href='#', uk-icon="icon: chevron-right; ratio:2").z-index-10.slide-next

    .swiper-wrapper
      {% if projects is not defined %}
      {% set projects = craft.entries.section('projects').order('postDate asc') %}
      {% endif %}
      {% for project in projects %}
      .swiper-slide.white-text
        a(href="{{ project.url }}").square-image-btn.uk-background-cover
          .swiper-lazy(
            data-background="{% for asset in project.headingImage.limit(1) %}{{ craft.imager.transformImage(asset, {width: 300, height: 300, format: 'jpg'}) }}{% endfor %}"
            style="{% for asset in project.headingImage.limit(1) %}background-image: url('{{ craft.imager.transformImage(asset, {width: 12, blur: 30, format: 'jpg'}) }}'){% endfor %}"
          )
          .inner
            .uk-padding
              p.pre-line.uk-margin-remove Project name
              p.uk-margin-remove-top {{ project.title }}
              p.pre-line.uk-margin-remove Architect
              p.uk-margin-remove-top {{ project.author.fullName }}
              p.pre-line.uk-margin-remove Location
              p.uk-margin-remove-top {{ project.location }}
      {% endfor %}
    .swiper-scrollbar(class="grabbg-{{ grabBg }}")
