<div class="uk-padding-large pre-footer">
  <div class="max-width">
  <a href="" class="uk-text-lead uk-link-reset uk-margin-medium-bottom orange-link full-width block news-letter-link"><!-- Subscribe to our newsletter /-->
  <!-- <span class="smaller">Be the first to find out about new projects, upcoming events and new education programmes.</span> -->
  <!-- <span uk-icon="icon: arrow-right; ratio: 2;" class="uk-float-right"></span> -->
  </a>
  <div class="foot-flex">
    <div class="foot-link">
      <a href="https://www.facebook.com/JerseyArchitectsOrg/" target="_blank" class="social-link fb" uk-icon="icon: facebook; ratio: 0.9;"></a>
    </div>
    <div class="foot-link">
      <a href="https://twitter.com/architecturejsy" target="_blank" class="social-link twitter" uk-icon="icon: twitter; ratio: 0.9;"></a>
    </div>
    <div class="foot-link">
      <a href="{{ siteUrl }}contact" class="social-link mail" uk-icon="icon: mail; ratio: 0.9;"></a>
    </div>

  </div>

</div>
</div>
