section.uk-padding-large.two-img-block.uk-remove-padding-top
   .max-width
      .row
            {% for asset in block.images %}
            .col.col--1-of-2
                  .two-img-image(style="background-image: url('{{asset.url}}')")
            {% endfor %}      