{% macro errorList(errors) %}
{% if errors %}
<ul class="uk-list">
{% for error in errors %}
<li class="uk-text-danger">{{ error }}</li>
{% endfor %}
</ul>
{% endif %}
{% endmacro %}
{% from _self import errorList %}
//- input(v-if="!headingImage" type="file" name="fields[headingImage]" id='imgInp' @change="onHeadingImageChange($event)")
//- img(v-else v-bind:src="headingImage" @click="headingImage = ''")

legend.uk-legend Upload a new project
p Fields marked with a <span class="uk-text-danger">*</span> are mandatory. You can click the question mark icon next to a field for a explanation on how it will look when published.
.uk-margin
  label(for="title").uk-form-label Title: <span class="uk-text-danger">*</span></label>
  .uk-form-controls
    .uk-inline.full-width
      span.uk-form-icon.uk-form-icon-flip(uk-icon="icon: user")
      input(type="text" class="uk-input uk-form-large" id="title" name="title" value="{% if entry is defined %}{{ entry.title }}{% endif %}")
{% if entry is defined %}
{{ errorList(entry.getErrors('title')) }}
{% endif %}

.uk-margin
  script.
    {% if entry is defined %}
    window.postDate = "{{ entry.postDate | date('Y-m-d') }}";
    {% else %}
    window.postDate = "{{ now | date('Y-m-d') }}";
    {% endif %}
  label(for="postDate").uk-form-label Project date:
  .uk-form-controls
    .uk-inline.full-width
      span.uk-form-icon.uk-form-icon-flip(uk-icon="icon: calendar")
      <pickaday v-model="date" id="postDate" name="postDate" :options="{format: 'YYYY-MM-DD'}" ref="picker" class="uk-input uk-form-large"></pickaday>


/// START OF PRODUCT HEADING IMAGE UPLOAD
.uk-margin
  label(for="imgInp").uk-form-label Header image: <span class="uk-text-danger">*</span></label>
  .uk-form-controls
    .uk-inline.full-width
      //transition(name="fade" mode="out-in")
      {% if entry is defined and entry.headingImage | length %}
      script.
        window.editHeadingImage = true;
      div(v-if="editHeadingImage == true")
        {% for asset in entry.headingImage.limit(1) %}
        input(type="hidden" name="fields[headingImage][]" value="{{ asset.id }}")
        .preview-img-hold
          a(href="#/" uk-icon="icon: close" @click="editHeadingImage=false").uk-position-absolute.delete-img
          img(src="{{ asset.url('edit') }}").full-width
        {% endfor %}
      div(v-else)
        input(type="file" v-show="!headingImage" name="fields[headingImage]" id='imgInp' @change="onHeadingImageChange($event)")
        .preview-img-hold(v-if="headingImage")
          a(href="#/" uk-icon="icon: close" @click="headingImage = ''; document.getElementById('imgInp').value = ''").uk-position-absolute.delete-img
          img(v-bind:src="headingImage").full-width
      {% else %}
      input(type="file" v-show="!headingImage" name="fields[headingImage]" id='imgInp' @change="onHeadingImageChange($event)")
      .preview-img-hold(v-if="headingImage")
        a(href="#/" uk-icon="icon: close" @click="headingImage = ''; document.getElementById('imgInp').value = ''").uk-position-absolute.delete-img
        img(v-bind:src="headingImage").full-width
      {% endif %}
{% if entry is defined %}
{{ errorList(entry.getErrors('headingImage')) }}
{% endif %}

.uk-margin
  label(for="abstract").uk-form-label Small Description: <span class="uk-text-danger">*</span></label>
  .uk-form-controls
    .uk-inline.full-width
      {% if entry is defined %}
      script.
        window.abstract = '{{ entry.abstract | replace({"\n":'', "\r":''}) }}';
      {% endif %}
      span.uk-text-meta(v-if="abstract.length") Characters ${ abstract.length } / 180
      input(type="text" name="fields[abstract]" v-model="abstract" placeholder="(max 180 characters)" maxlength="180").uk-input.uk-form-large
{% if entry is defined %}
{{ errorList(entry.getErrors('abstract')) }}
{% endif %}

.uk-margin
  label.uk-form-label Property categories: (select multiple) <span class="uk-text-danger">*</span></label>
  .uk-form-controls
    .uk-inline.full-width
      script.
        {% if entry is defined %}
        window.selectedTags = [
        {% for tag in entry.propertyCategories %}
        '{{ tag.title }}'{{ not loop.last ? ',' : '' }}
        {% endfor %}
        ];
        {% endif %}
        
        window.tagIds = [];
        {% for cat in craft.categories.group('propertyCategory') %}
        window.tagIds['{{ cat.title }}'] = {{ cat.id }};
        {% endfor %}
      
      input(type="hidden" v-model="getTagIds(tagIds, tagsSelectValue)" name="fields[propertyCategories]")
      multiselect(
        v-model="tagsSelectValue",
        :options="[{% for cat in craft.categories.group('propertyCategory') %}'{{ cat.title }}'{{ not loop.last ? ',' : '' }}{% endfor %}]",
        :multiple="true",
        :searchable="false",
        :close-on-select="false",
        :show-labels="true",
        placeholder="Select tags"
      )
      {% if entry is defined %}
      {{ errorList(entry.getErrors('propertyCategories')) }}
      {% endif %}
      
.uk-margin
  label.uk-form-label collaborators:
  .uk-form-controls
    .uk-inline.full-width
        
      script.
        {% if entry is defined %}
        window.collabValues = [
        {% for user in entry.collaborators | split(',') %}
        {% set user = craft.users.id( user ).first() %}
        '{{ user.fullName }}'{{ not loop.last ? ',' : '' }}
        {% endfor %}
        ];
        {% endif %}
        
        window.userIds = [];
        {% for user in craft.users.group('members') %}
        window.userIds['{{ user.fullName }}'] = {{ user.id }};
        {% endfor %}
        
      input(type="hidden" v-model="getUserIds(userIds, collabSelectValue)" name="fields[collaborators]")
      multiselect(
        v-model="collabSelectValue",
        :options="[{% for user in craft.users.group('members') %}'{{ user.fullName }}'{{ not loop.last ? ',' : '' }}{% endfor %}]",
        :multiple="true",
        :searchable="false",
        :close-on-select="false",
        :show-labels="true",
        placeholder="Select tags"
      )

.uk-margin
  label(for="company").uk-form-label Current company:
  .uk-form-controls
    .uk-inline.full-width
      input(type="text" name="fields[company]" id="company" value="{% if entry is defined %}{{ entry.company }}{% endif %}").uk-input.uk-form-large
{% if entry is defined %}
{{ errorList(entry.getErrors('company')) }}
{% endif %}

.uk-margin
  label(for="website").uk-form-label Company website:
  .uk-form-controls
    .uk-inline.full-width
      input(type="text" name="fields[website]" id="website" value="{% if entry is defined %}{{ entry.website }}{% endif %}").uk-input.uk-form-large
{% if entry is defined %}
{{ errorList(entry.getErrors('website')) }}
{% endif %}


.uk-margin
  label(for="location").uk-form-label Location:
  .uk-form-controls
    .uk-inline.full-width
      input(type="text" name="fields[location]" id="location" value="{% if entry is defined %}{{ entry.location }}{% endif %}").uk-input.uk-form-large
{% if entry is defined %}
{{ errorList(entry.getErrors('location')) }}
{% endif %}
hr
.uk-margin
  label(for="imageGrid").uk-form-label Top image slider:  <button uk-icon="icon: question" uk-toggle="target: #top-image-swiper"></button> use this for images of before construction
  .uk-form-controls
    .uk-inline.full-width
      div(v-if="topImages.length == 0")
        input(type="hidden" name="fields[squareSlider]" value="")
      div(v-for="(value, index) in topImages")
        input(type="hidden" v-bind:name="'fields[squareSlider][' + index + ']'" v-model="value.craftId")
      #uploader
{% if entry is defined %}
{{ errorList(entry.getErrors('squareSlider')) }}
{% if entry.squareSlider | length %}

script.
  window['topImages'] = [
  {% for asset in entry.squareSlider %}
  {
    'name' : '{{ asset.title }}',
    'uuid' : '{{ asset.id }}',
    'thumbnailUrl' : '{{ asset.url("thumb") }}'
  }{% if not loop.last %},{% endif %}
  {% endfor %}
  ];
{% endif %}
{% endif %}
//- input(type="text" name="title")
//- input(type="text" name="fields[abstract]")
hr
.uk-margin
  label(for="imageGrid").uk-form-label Full screen gallery:  <button uk-icon="icon: question" uk-toggle="target: #image-grid"></button>
  .uk-form-controls
    .uk-inline.full-width
      div(v-if="imageGrid.length == 0")
        input(type="hidden" name="fields[imageGrid]" value="")
      div(v-for="(value, index) in imageGrid")
        input(type="hidden" v-bind:name="'fields[imageGrid][' + index + ']'" v-model="value.craftId")
      #uploader-grid
{% if entry is defined %}
{{ errorList(entry.getErrors('imageGrid')) }}

{% if entry.imageGrid | length %}

script.
  window['imageGrid'] = [
  {% for asset in entry.imageGrid %}
  {
    'name' : '{{ asset.title }}',
    'uuid' : '{{ asset.id }}',
    'thumbnailUrl' : '{{ asset.url("thumb") }}'
  }{% if not loop.last %},{% endif %}
  {% endfor %}
  ];
{% endif %}
{% endif %}
hr
.uk-margin
  label(for="youtubeUrl").uk-form-label Youtube Video url:
  .uk-form-controls
    .uk-inline.full-width
      input(type="text" id="youtubeUrl" name="fields[youtubeUrl]" value="{% if entry is defined %}{{ entry.youtubeUrl }}{% endif %}" v-model="youtubeUrl" placeholder="eg. https://www.youtube.com/watch?v=xcJtL7QggTI/").uk-input.uk-form-large
{% if entry is defined %}
{{ errorList(entry.getErrors('youtubeUrl')) }}
{% endif %}
{% if (entry is defined) and (entry.youtubeUrl | length) %}
{% set yu = entry.youtubeUrl | replace({ '"' : '' }) %}
script.
  window.youtubeUrl = "{{ yu }}";
{% endif %}
//div(v-if="youtubeUrl.length")
  .uk-margin
    label(for="quoteName").uk-form-label Video By:
    .uk-form-controls
      .uk-inline.full-width
        input(type="text" name="fields[quoteName]" id="quoteName" value="{% if entry is defined %}{{ entry.quoteName }}{% endif %}" placeholder='eg. "Luca Jegard"').uk-input.uk-form-large
  {% if entry is defined %}
  {{ errorList(entry.getErrors('quoteName')) }}
  {% endif %}


hr
.uk-margin
  label(for="quote").uk-form-label Quote: <button uk-icon="icon: question" uk-toggle="target: #quote"></button>
  .uk-form-controls
    .uk-inline.full-width
      input(type="text" name="fields[quote]" id="quote" value="{% if entry is defined %}{{ entry.quote }}{% endif %}" placeholder='eg. "Our design approach was to respect and preserve the existing architectural style, whilst making essential improvements to the performance of the building"').uk-input.uk-form-large
{% if entry is defined %}
{{ errorList(entry.getErrors('quote')) }}
{% endif %}
.uk-margin
  label(for="quoteName").uk-form-label Quote Name:
  .uk-form-controls
    .uk-inline.full-width
      input(type="text" name="fields[quoteName]" id="quoteName" value="{% if entry is defined %}{{ entry.quoteName }}{% endif %}" placeholder='eg. "Luca Jegard"').uk-input.uk-form-large
{% if entry is defined %}
{{ errorList(entry.getErrors('quoteName')) }}
{% endif %}
.uk-margin
  label(for="quotePosition").uk-form-label Quote Position:
  .uk-form-controls
    .uk-inline.full-width
      input(type="text" name="fields[quotePosition]" id="quotePosition" value="{% if entry is defined %}{{ entry.quotePosition }}{% endif %}" placeholder='eg. "The Chamber of Commerce"').uk-input.uk-form-large
{% if entry is defined %}
{{ errorList(entry.getErrors('quotePosition')) }}
{% endif %}
.uk-margin
  label(for="quotePosition").uk-form-label Quote Image:
  .uk-form-controls
    .uk-inline.full-width
      div(v-if="quoteImage.length == 0")
        input(type="hidden" name="fields[quoteImage]" value="")
      div(v-for="(value, index) in quoteImage")
        input(type="hidden" v-bind:name="'fields[quoteImage][' + index + ']'" v-model="value.craftId")
      #uploader-quote-image
        
{% if entry is defined %}
{{ errorList(entry.getErrors('quoteImage')) }}

{% if entry.quoteImage | length %}

script.
  window['quoteImage'] = [
  {% for asset in entry.quoteImage %}
  {
    'name' : '{{ asset.title }}',
    'uuid' : '{{ asset.id }}',
    'thumbnailUrl' : '{{ asset.url("thumb") }}'
  }{% if not loop.last %},{% endif %}
  {% endfor %}
  ];
{% endif %}
{% endif %}
/////////// END OF QUOTE BLOCK ////////////////

hr
.uk-margin
  label(for="secondQuote").uk-form-label Second Quote: <button uk-icon="icon: question" uk-toggle="target: #quote"></button>
  .uk-form-controls
    .uk-inline.full-width
      input(type="text" name="fields[secondQuote]" id="secondQuote" value="{% if entry is defined %}{{ entry.secondQuote }}{% endif %}" placeholder='eg. "Our design approach was to respect and preserve the existing architectural style, whilst making essential improvements to the performance of the building"').uk-input.uk-form-large
{% if entry is defined %}
{{ errorList(entry.getErrors('secondQuote')) }}
{% endif %}
.uk-margin
  label(for="secondQuoteName").uk-form-label Second Quote Name:
  .uk-form-controls
    .uk-inline.full-width
      input(type="text" name="fields[secondQuoteName]" id="secondQuoteName" value="{% if entry is defined %}{{ entry.secondQuoteName }}{% endif %}" placeholder='eg. "Luca Jegard"').uk-input.uk-form-large
{% if entry is defined %}
{{ errorList(entry.getErrors('secondQuoteName')) }}
{% endif %}
.uk-margin
  label(for="secondQuotePosition").uk-form-label Second Quote Position:
  .uk-form-controls
    .uk-inline.full-width
      input(type="text" name="fields[secondQuotePosition]" id="secondQuotePosition" value="{% if entry is defined %}{{ entry.secondQuotePosition }}{% endif %}" placeholder='eg. "The Chamber of Commerce"').uk-input.uk-form-large
{% if entry is defined %}
{{ errorList(entry.getErrors('secondQuotePosition')) }}
{% endif %}
.uk-margin
  label(for="secondQuoteImage").uk-form-label Second Quote Image:
  .uk-form-controls
    .uk-inline.full-width
      div(v-if="secondQuoteImage.length == 0")
        input(type="hidden" name="fields[secondQuoteImage]" value="")
      div(v-for="(value, index) in secondQuoteImage")
        input(type="hidden" v-bind:name="'fields[secondQuoteImage][' + index + ']'" v-model="value.craftId")
      #uploader-second-quote-image
        
{% if entry is defined %}
{{ errorList(entry.getErrors('secondQuoteImage')) }}

{% if entry.secondQuoteImage | length %}

script.
  window['secondQuoteImage'] = [
  {% for asset in entry.secondQuoteImage %}
  {
    'name' : '{{ asset.title }}',
    'uuid' : '{{ asset.id }}',
    'thumbnailUrl' : '{{ asset.url("thumb") }}'
  }{% if not loop.last %},{% endif %}
  {% endfor %}
  ];
{% endif %}
{% endif %}
/////////// END OF QUOTE BLOCK ////////////////

hr
.uk-margin
  label(for="fullWidthSlider").uk-form-label Full width slider: <button uk-icon="icon: question" uk-toggle="target: #full-width-slider"></button>
  .uk-form-controls
    .uk-inline.full-width
      div(v-for="(value, index) in fullWidthSlider")
        input(type="hidden" v-bind:name="'fields[fullWidthSlider][' + index + ']'" v-model="value.craftId")
      #uploader-full-width
{% if entry is defined %}
{{ errorList(entry.getErrors('fullWidthSlider')) }}
{% if entry.fullWidthSlider | length %}
script.
  window['fullWidthSlider'] = [
  {% for asset in entry.fullWidthSlider %}
  {
    'name' : '{{ asset.title }}',
    'uuid' : '{{ asset.id }}',
    'thumbnailUrl' : '{{ asset.url("thumb") }}'
  }{% if not loop.last %},{% endif %}
  {% endfor %}
  ];
{% endif %}
{% endif %}


.uk-margin
  label
    input(class="uk-checkbox" type="checkbox" v-model="agreeWithTerms")
    span.uk-margin-small-left By ticking this box you are agreeing to our privacy policy.

.uk-clearfix
  .uk-float-right
    .inb(@hover="haveAgreed()")
      <input type="submit" value="Submit" class="uk-button uk-button-large uk-button-secondary" v-bind:disabled="!agreeWithTerms">
#top-image-swiper(uk-modal)
  .uk-modal-dialog.uk-modal-body
    h2.uk-modal-title Top image slider
    p Images uploaded to this field will display as shown below. This field is optional.
    img(src="{{ siteUrl }}res/img/squareslider.gif").grey-border
    .uk-text-right
      button.uk-button.uk-button-secondary.uk-modal-close Ok
#image-grid(uk-modal)
  .uk-modal-dialog.uk-modal-body
    h2.uk-modal-title Image grid / Gallery
    p Images uploaded to this field will display as shown below. This field is optional.
    img(src="{{ siteUrl }}res/img/imagegrid.gif").grey-border
    .uk-text-right
      button.uk-button.uk-button-secondary.uk-modal-close Ok

#quote(uk-modal)
  .uk-modal-dialog.uk-modal-body
    h2.uk-modal-title Quote
    p Text in the quote field will display as the large text on the left, the quote image will apear on the right and the quote name and quote position will display as the bottom orange text.
    img(src="{{ siteUrl }}res/img/quote.jpg").grey-border
    .uk-text-right
      button.uk-button.uk-button-secondary.uk-modal-close Ok
      
#full-width-slider(uk-modal)
  .uk-modal-dialog.uk-modal-body
    h2.uk-modal-title Full width slider
    img(src="{{ siteUrl }}res/img/fullwidth.gif").grey-border
    .uk-text-right
      button.uk-button.uk-button-secondary.uk-modal-close Ok
