section.uk-padding-large(class="{% if block.smallPadding %}{% else %}large-pad-top{% endif %}")(class="{% if entry == 'Education' %}uk-education-large{% endif %}").video-block
   .max-width
    | {% if block.heading | length %}
    h2.uk-text-lead {{block.heading}}
    | {% endif %}
    {% if block.video |length %}
    .row(style="text-align: center;")
        .col.col--3-of-4
            .video.video-1
                .video-cont
                    .video-inner            
                        {% if 'youtube' in block.video %}
                        .video-overlay.video-overlay-1.js-open-video2(href='#', data-video="{% if 'watch?v=' in block.video %}{{ block.video |replace({'watch?v=': 'embed/'}) }}?autoplay=1{% else %}{ block.video}}?autoplay=1{% endif %}")
                        {% elseif 'vimeo' in block.video %}
                        .video-overlay.video-overlay-1.js-open-video2(href='#', data-video="{% if 'player' in block.video %}{{ block.video }}?autoplay=1&loop=1&autopause=0{% else %}{{ block.video |replace({'vimeo.com': 'player.vimeo.com/video'}) }}?autoplay=1&loop=1&autopause=0{% endif %}")
                        {% endif %}
                        .videoWrapper
                            {% if 'youtube' in block.video %}
                            iframe(width='560', height='315', src="{% if 'watch?v=' in block.video %}{{ block.video |replace({'watch?v=': 'embed/'}) }}{% else %}{ block.video}}{% endif %}", frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                            {% elseif 'vimeo' in block.video %}
                            iframe(src="{% if 'player' in block.video %}{{ block.video }}{% else %}{{ block.video |replace({'vimeo.com': 'player.vimeo.com/video'}) }}{% endif %}", width='640', height='480', frameborder='0', allow='autoplay; fullscreen', allowfullscreen='')
                            {% endif %}
    {% endif %}
.openVideo#openVideo2.modal
    .modal-content
            .modal-header
                span.close-modal ×
            .modal-body
                .videoWrapper
                    iframe(width='560', height='315', src='', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')