<section class="uk-padding-large full-img-block uk-remove-padding-top"><div class="max-width"><div style="background-image: url({% for asset in block.image %}{{asset.url}}{% endfor %})" class="full-width-image"></div></div></section>