{% set params = {order: 'dateCreated asc'} %}
{% set entryParam = craft.request.getParam('entryId') %}

{# craft.comments.form(entry.id, params) #}

{% set params = { order: 'dateCreated asc', elementId: entryParam } %}
{% set comments = craft.comments.all( params ) %}

{% macro printComments(comments, settings, threadId) %}
{% for comment in comments %}
li(id="comment-{{ comment.id }}").comment-single
  .upvote-container.uk-text-meta
    a(href="" onclick="upVote(event, '{{ comment.upvoteActionUrl }}')" uk-icon="icon: triangle-up; ratio: 1.25").vote-up
    a(href="" onclick="downVote(event, '{{ comment.downvoteActionUrl }}')" uk-icon="icon: triangle-down; ratio: 1.25").vote-down
    span {{ comment.voteCount }}<br>votes
  .comment-container
    .uk-padding.uk-padding-remove-top.uk-padding-remove-bottom.vote-right
      <span itemprop="creator" itemscope="itemscope" itemtype="http://schema.org/Person">
      {% if comment.author.profilePhoto | length %}
      {% for asset in comment.author.profilePhoto %}
      <div itemprop="image" class="comment-image"><img src="{{ asset.url('profile') }}"></div>
      {% endfor %}
      {% else %}
      <div itemprop="image" class="comment-image"><img src="{{ siteUrl }}res/img/defaultuserphoto.png"></div>
      {% endif %}
      </span>
      .comment-text
        .comment-heading
          a(href="{{ siteUrl }}members/{{ comment.author.id }}").title {{ comment.author.fullName }} <span class="meta">{{ comment.dateCreated | date('d M Y') }}</span>
        .comment-content
          {% if comment.status == 'trashed' %}
          p [Comment deleted]
          {% else %}
          p {{ comment.comment | striptags('<a>') | raw }}
          {% endif %}
        .meta-buttons
          a(href="#/" onclick="replyToComment({{ comment.id }}, '{{ comment.author.fullName }}', {{ threadId }})").reply Reply
          //- a(href="http://", target="_blank") Comments
          //a(href="#/").comment-edit Edit
          {% if comment.canTrash() %}
          a(href="" onclick="deleteComment(event, '{{ comment.trashActionUrl }}')") Delete
          {% endif %}
      form.form-inline.comment-form(method="post" action="" style="display: none")
        <input type="hidden" name="action" value="comments/save">
        //- <input type="hidden" name="elementId" value="{{ entry.id }}">
        //parentId
        //- <input type="hidden" class="replyInput" name="" value="{{ comment.id }}">
        
        {{ craft.comments.protect() }}
        {{ getCsrfInput() }}
        <textarea name="fields[comment]" placeholder="Your comments" class="form-control"></textarea>
        <button type="submit" class="btn btn-default">Add Comment</button>
      {% set av %}
      {% if comment.hasDescendants %}
      ul.comments-list
        {{ _self.printComments(comment.children, {}) }}
      {% endif %}
      {% endset %}
{% endfor %}
{% endmacro %}
{{ _self.printComments(comments, {}, entryParam) }}
