{% extends '_layoutaltfoot' %}
{% block content %}
{% if currentUser %}
{% macro errorList(errors) %}
{% if errors %}
<ul class="uk-list">
{% for error in errors %}
<li class="uk-text-danger">{{ error }}</li>
{% endfor %}
</ul>
{% endif %}
{% endmacro %}
{% from _self import errorList %}
{% set docIcon %}
<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve"> <g> <path d="M42.5,22h-25c-0.552,0-1,0.447-1,1s0.448,1,1,1h25c0.552,0,1-0.447,1-1S43.052,22,42.5,22z"/> <path d="M17.5,16h10c0.552,0,1-0.447,1-1s-0.448-1-1-1h-10c-0.552,0-1,0.447-1,1S16.948,16,17.5,16z"/> <path d="M42.5,30h-25c-0.552,0-1,0.447-1,1s0.448,1,1,1h25c0.552,0,1-0.447,1-1S43.052,30,42.5,30z"/> <path d="M42.5,38h-25c-0.552,0-1,0.447-1,1s0.448,1,1,1h25c0.552,0,1-0.447,1-1S43.052,38,42.5,38z"/> <path d="M42.5,46h-25c-0.552,0-1,0.447-1,1s0.448,1,1,1h25c0.552,0,1-0.447,1-1S43.052,46,42.5,46z"/> <path d="M38.914,0H6.5v60h47V14.586L38.914,0z M39.5,3.414L50.086,14H39.5V3.414z M8.5,58V2h29v14h14v42H8.5z"/> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg>
{% endset %}

.main-container.grey-bg
  section.uk-padding-large.remove-side-padding-mb
    {% paginate craft.entries.section('forum').limit(5) as post %}
    h1.text-center.mb-large AJA Forum
    
    {% for post in craft.entries.section('forum') %}
    .max-width.white-bg.shad.uk-margin-large-bottom.thread(id="thread-{{ post.id }}")
      .row
        .col.col--4-of-5.rel
            .uk-padding.accordion-title.accordion
              p.uk-text-lead.uk-margin-remove.ellipsis {{ post.title }}
              p.uk-margin-remove Posted: {{ post.postDate |  date('D d M Y') }}
              {% if post.message | length %}
              .uk-margin-remove.post-message {{ post.message }}
              {% endif %}
              {% if post.files | length %}
            .uk-padding.uk-remove-padding-bottom.uk-remove-padding-top.accordion-content.u-margin-bottom
              table.forum-file-table.uk-table.uk-table-middle.uk-table-divider.uk-table-striped.uk-table-small.table-side.uk-table-hover
                thead
                  tr
                    th File Name
                    th File Size
                    th File Type 
                tbody
                  {% for file in post.files %}
                  tr(title="{{ file.title }}")
                    td.uk-text-truncate
                      a(href="{{ file.url }}", target="_blank") {% if file.kind == 'compressed' %}<span uk-icon="folder"></span>{% endif %}{% if file.kind == 'image' %}<span uk-icon="image"></span>{% endif %}{% if file.kind == 'word' or file.kind == 'powerpoint' or file.kind == 'text' or file.kind == 'pdf' %}{{ docIcon }}{% endif %} {{ file.title }}
                    td {{ file.size|filesize }}
                    td {{ file.kind }}
                  {% endfor %}
              download-all.uk-margin-right(
              :urls="[ {% for file in post.files %} { url: '{{ file.url }}', title: '{{ file.title }}' }{{ not loop.last ? ',' : '' }}{% endfor %} ]"
              )
              {% endif %}
              a(href="").toggle-comments <span uk-icon="comment"></span> Comments ({{ craft.comments.all( { elementId: post.id } ) | length }})
        .col.col--1-of-5.uk-text-center.rel
          .uk-padding-small.pad-top
            p.uk-text-meta.uk-margin-remove Posted by:
            a(href="{{ siteUrl }}members/{{ post.author.id }}").block
              {% if post.author.profilePhoto | length %}
              {% for asset in post.author.profilePhoto %}
              img(src="{{ asset.url('profile') }}" width="80").uk-border-circle
              {% endfor %}
              {% else %}
              img(src="{{ siteUrl }}res/img/defaultuserphoto.png" width="80" height="80" alt="Profile").uk-border-circle
              {% endif %}
              p.uk-margin-remove {{ post.author.fullName | ucwords }}
            {% if currentUser.id == post.author.id %}
            form(action="" method="post" accept-charset="UTF-8").uk-padding-small.forum-delete
              {{ getCsrfInput() }}
              input(type="hidden" name="action" value="entries/deleteEntry")
              input(type="hidden" name="entryId" value="{{ post.id }}")
              button(type="submit").uk-button-small.uk-button.uk-button-danger <span uk-icon="icon: trash; ratio: 0.9"></span> Delete
            {% endif %}
        .col.col--2-of-2
          {% set entry = post %}
          
          {% set params = {order: 'dateCreated asc'} %}
          {# craft.comments.form(entry.id, params) #}
          
          {% set params = { order: 'dateCreated asc', elementId: entry.id } %}
          {% set comments = craft.comments.all( params ) %}
          
          .comments-box
            .comments-container
                ul.comments-list(data-ajax-id="{{ entry.id }}")
                  {% import 'portal/ajax.html' as commentMacro %}
                  {{ commentMacro.printComments(comments, params, post.id) }}
            .comment-form-container
              form.form-inline.comment-form(method="post" action="" data-entryid="{{ entry.id }}")
                <input type="hidden" name="action" value="comments/save">
                <input type="hidden" name="elementId" value="{{ entry.id }}">
                //- <input type="hidden" name="parentId" value="864">
                <input type="hidden" class="replyInput" name="" value="">
                p.reply-info.uk-margin-remove-top.uk-margin-bottom Replying to
                {{ craft.comments.protect() }}
                {{ getCsrfInput() }}
                <textarea name="fields[comment]" placeholder="Your comments" class="form-control"></textarea>
                <button type="submit" class="btn btn-default uk-button uk-button-secondary">Add Comment</button>
    {% endfor %}
    
    .max-width.white-bg.shad
      p.uk-text-center.uk-padding-small.uk-text.uk-margin-remove Page
      <ul class="uk-pagination uk-flex-center uk-margin-remove-top" uk-margin>
      //- <a href="{{ paginate.firstUrl }}">First Page</a>
      {% if paginate.prevUrl %}<li><a href="{{ paginate.prevUrl }}"><span uk-pagination-previous></span></a></li>{% endif %}

      {% for page, url in paginate.getPrevUrls(5) %}
      <li><a href="{{ url }}">{{ page }}</a></li>
      {% endfor %}

      <li class="uk-active"><span>{{ paginate.currentPage }}</span></li>

      {% for page, url in paginate.getNextUrls(5) %}
      <li><a href="{{ url }}">{{ page }}</a></li>
      {% endfor %}

      {% if paginate.nextUrl %}<li><a href="{{ paginate.nextUrl }}"><span uk-pagination-next></span></a></li>{% endif %}
      //- <a href="{{ paginate.lastUrl }}">Last Page</a>
      </ul>
      hr.uk-margin-remove
      .uk-padding
        .max-small
          form(method="post" action="" accept-charset="UTF-8" enctype="multipart/form-data")
            fieldset.uk-fieldset
              {{ getCsrfInput() }}
              input(type="hidden" name="action" value="entries/saveEntry")
              //- input(type="hidden" name="redirect" value="projects/{slug}")
              input(type="hidden" name="sectionId" value="9")
              <input type="hidden" name="enabled" value="1">
              legend.uk-legend Create a new thread
              
              .uk-margin
                label(for="title") Title: <span class="uk-text-danger">*</span></label>
                .uk-form-controls
                  .uk-inline.full-width
                    input(type="text" class="uk-input uk-form-large" id="title" name="title" value="{% if entry is defined %}{{ entry.title }}{% endif %}")
              {% if entry is defined %}
              {{ errorList(entry.getErrors('title')) }}
              {% endif %}

              .uk-margin
                label(for="message") Message:
                .uk-form-controls
                  .uk-inline.full-width
                    textarea(class="uk-textarea uk-form-large" id="message" name="fields[message]" rows="4" value="{% if entry is defined %}{{ entry.message }}{% endif %}")

              .uk-margin
                label(for="portal-upload").uk-form-label Add files:
                .uk-form-controls
                  .uk-inline.full-width
                    div(v-if="portalFiles.length == 0")
                      input(type="hidden" name="fields[files]" value="")
                    div(v-for="(value, index) in portalFiles")
                      input(type="hidden" v-bind:name="'fields[files][' + index + ']'" v-model="value.craftId")
                    #portal-upload
              
              .uk-margin-top.uk-clearfix
                input(type="submit" value="submit").uk-button.uk-button-secondary.uk-button-large.uk-float-right
{% else %}
{% redirect siteUrl ~ 'user/login' %}
{% endif %}
{% endblock %}
