{% extends '_layout' %}
{% block content %}
.main-container
  {% for asset in entry.headingImage.limit(1) %}
  header.project-header.uk-background-cover(data-bg="{{ craft.imager.transformImage(asset, {format: 'jpg', width: 1000}) }}" style="background-image: url('{{ craft.imager.transformImage(asset, {format: 'jpg', width: 12}) }}');" ).anbg
  {% endfor %}
  section.uk-padding-large.uk-padding-remove-bottom
    .max-width
      .row
        .col.col--3-of-4
          h1.uk-margin-right {{ entry.title }} / <span class="uk-text-small project-date">{{ entry.postDate | date('d | m | y') }}</span>
          //span {{ entry.postDate | date('d | m | y') }} Before construction
          {% do craft.entryCount.increment(entry.id) %}
          h2 {{ entry.abstract }}
          {% for badge in entry.propertyCategories %}
          span.uk-badge {{ badge.title }}
          {% endfor %}
        .col.col--1-of-4
  ///////////  CREDIT BLOCK
  section.uk-padding-large.credit-block(class="{% if entry.squareSlider | length == 0 %}uk-padding-remove-bottom{% endif %}")
    .max-width
      .row
        .col(class="{% if entry.squareSlider | length %}col--1-of-4{% else %}col--2-of-2{% endif %}").vb
          {% if entry.squareSlider | length == 0 %}
          .uk-margin-bottom
            span.uk-text-lead.uk-margin-right {{ entry.title }} /
            span {{ entry.postDate | date('d | m | y') }}
          {% endif %}
          ul.uk-list(class="{% if entry.squareSlider | length == 0 %}inline-credits{% endif %}")
            {% if entry.company | length %}
            li.uk-margin-medium-bottom
              .pre-line.dark COMPANY:
              {{ entry.company }}
            {% endif %}
            
            {% if entry.website | length %}
            li.uk-margin-medium-bottom
              .pre-line.dark WEBSITE:
              {% if 'https://' in entry.website or 'http://' in entry.website %}
              a(href="{{ entry.website }}" target="_blank") {{ entry.website }}
              {% else %}
              a(href="http://{{ entry.website }}" target="_blank") {{ entry.website }}
              {% endif %}
            {% endif %}
            
            li.uk-margin-medium-bottom
              .pre-line.dark PROJECT:
              {{ entry.title }}
            
            {% if entry.location | length %}
            li.uk-margin-medium-bottom
              .pre-line.dark LOCATION:
              {{ entry.location }}
            {% endif %}
            
            {% if entry.author.fullName | length %}
            li.uk-margin-medium-bottom
              .pre-line.dark ARCHITECTS:
              a(href="{{ siteUrl }}members/{{ entry.author.id }}") {{ entry.author.fullName }}
              {% if entry.collaborators | length %}
              {% for collab in entry.collaborators | split(',') %}
              {% set collabUser = craft.users.id(collab).first() %}
              ,&#32;
              a(href="{{ siteUrl }}members/{{ collabUser.id }}") {{ collabUser.fullName }} 
              {% endfor %}
              {% endif %}
            {% endif %}
        {% if entry.squareSlider | length %}
        .col.col--3-of-4
          .uk-margin-bottom
            //span.uk-text-lead.uk-margin-right {{ entry.title }} /
            //span {{ entry.postDate | date('d | m | y') }} Before construction
            span.uk-text-lead.uk-margin-right Before Construction
          .square-multi-block
            .swiper-container.rel
              .uk-light.arrow-hold
                a.uk-position-center-left.uk-position-small(href='#', uk-icon="icon: chevron-left; ratio:2").z-index-10.sqmb-project-slider-prev
                a.uk-position-center-right.uk-position-small(href='#', uk-icon="icon: chevron-right; ratio:2").z-index-10.sqmb-project-slider-next
              .swiper-wrapper
                {% for asset in entry.squareSlider %}
                .swiper-slide
                  .aspect.uk-background-cover(data-bg="{{ craft.imager.transformImage(asset, {format: 'jpg', width: 950}) }}" style="background-image: url('{{ craft.imager.transformImage(asset, {format:'jpg', width: 12}) }}')").anbg.rel
                {% endfor %}
              {% set grabBg = 'white' %}
              .swiper-scrollbar(class="grabbg-{{ grabBg }}")
        {% endif %}
  
  
  ///////   IMAGE GRID
  {% if entry.imageGrid | length %}
  section.uk-padding-large
    .max-width
      .uk-margin-bottom
        h2.inline.uk-text-lead Image gallery / 
        span Click on image thumbnail to view gallery
      .row.row5
        {% set imageGridThumbs = entry.imageGrid %}
        {% for asset in imageGridThumbs.limit(8) %}
        .col.col--1-of-4.col--m-1-of-2.col--s-1-of-2
          a(href="http://").grid-thumb.uk-link-reset.gallery-btn(@click="openGallery($event, {{ loop.index0 }})" class="{% if loop.index == 8 %}last-thumb{% endif %}")
            {% if loop.index == 8 %}
            span.number +{{ imageGridThumbs.total - loop.index }}
            {% else %}
            span VIEW
            {% endif %}
            .square.anbg(
            data-bg="{{ craft.imager.transformImage(asset, {format: 'jpg', width: 300, height: 300}) }}"
            style="background-image: url('{{ craft.imager.transformImage(asset, {format: 'jpg', width: 12, blur: 10 }) }}');"
            )
            //img(src="{{ craft.imager.transformImage(asset, {format: 'jpg', width: 600, height: 600}) }}" alt="{{ asset.title }}")
        {% endfor %}
  script.
    window.items = [
    {% for asset in entry.imageGrid %}
    {
      src: '{{ craft.imager.transformImage(asset,{ format: 'jpg', width: 1600, jpegQuality: 100 }) }}',
      w: {{ asset.width }},
      h: {{ asset.height }}
    }{% if not loop.last %},{% endif %}
    {% endfor %}
    ];
  {% endif %}
  ///////////
  
  
  /////// QUOTE BLOCK 1
  {% if entry.quote | length %}
  {% if entry.quoteImage | length %}
  section.uk-padding-large.quote-block
    .max-width
      .row
        .col.col--1-of-2.vm
          {% if entry.quote | length > 145 %}
          h2 “{{ entry.quote }}”
          {% else %}
          h1 “{{ entry.quote }}”
          {% endif %}
          {% if entry.quoteName | length or entry.quotePosition | length %}
          .orange-btn.no-hover {{ entry.quoteName }}{% if entry.quotePosition | length %} <strong>{{ entry.quotePosition }}</strong>{% endif %}
          {% endif %}
        .col.col--1-of-2.vm
          {% for asset in entry.quoteImage.limit(1) %}
          img(src="{{ craft.imager.transformImage(asset, { width: 700, height: 700, format: 'jpg' }) }}", alt="")
          {% endfor %}
  {% else %}
  section.uk-padding-large.quote-block
    .max-width
      .row
        .col.col--2-of-3.vm.col--centered
          {% if entry.quote | length > 145 %}
          h2.text-center “{{ entry.quote }}”
          {% else %}
          h1.text-center “{{ entry.quote }}”
          {% endif %}
          {% if entry.quoteName | length or entry.quotePosition | length %}
          .text-center
            .orange-btn.no-hover {{ entry.quoteName }}{% if entry.quotePosition | length %} <strong>{{ entry.quotePosition }}</strong>{% endif %}
          {% endif %}
  {% endif %}
  {% endif %}
  //////
  
  ////// FULL WIDTH SLIDER
  {% if entry.fullWidthSlider | length %}
  section.uk-padding-large
    .max-width
      .fullwidth-slider.uk-light
        .swiper-container.rel
          .uk-light.arrow-hold
            a.uk-position-center-left.uk-position-small(href='#', uk-icon="icon: chevron-left; ratio:2").z-index-10.full-width-slider-prev
            a.uk-position-center-right.uk-position-small(href='#', uk-icon="icon: chevron-right; ratio:2").z-index-10.full-width-slider-next
          .swiper-wrapper
            {% for asset in entry.fullWidthSlider %}
            .swiper-slide.uk-background-cover
              .aspect-16-9.uk-background-cover.swiper-lazy(data-background="{{ craft.imager.transformImage(asset, { format: 'jpg', width: 1000 }) }}")
                .swiper-lazy-preloader
            {% endfor %}
          {% set grabBg = 'white' %}
          .swiper-scrollbar(class="grabbg-{{ grabBg }}")
  {% endif %}
  /////
  
  
  /////// QUOTE BLOCK 2
  {% if entry.secondQuote | length %}
  {% if entry.secondQuoteImage | length %}
  section.uk-padding-large.quote-block
    .max-width
      .row
        .col.col--1-of-2.vm
          {% if entry.secondQuote | length > 145 %}
          h2 “{{ entry.secondQuote }}”
          {% else %}
          h1 “{{ entry.secondQuote }}”
          {% endif %}
          {% if entry.secondQuoteName | length or entry.secondQuotePosition | length %}
          .orange-btn.no-hover {{ entry.secondQuoteName }}{% if entry.secondQuotePosition | length %} <strong>{{ entry.secondQuotePosition }}</strong>{% endif %}
          {% endif %}
        .col.col--1-of-2.vm
          {% for asset in entry.secondQuoteImage.limit(1) %}
          img(src="{{ craft.imager.transformImage(asset, { width: 700, height: 700, format: 'jpg' }) }}", alt="")
          {% endfor %}
  {% else %}
  section.uk-padding-large.quote-block
    .max-width
      .row
        .col.col--2-of-3.vm.col--centered
          {% if entry.secondQuote | length > 145 %}
          h2.text-center “{{ entry.secondQuote }}”
          {% else %}
          h1.text-center “{{ entry.secondQuote }}”
          {% endif %}
          {% if entry.secondQuoteName | length or entry.secondQuotePosition | length %}
          .text-center
            .orange-btn.no-hover {{ entry.secondQuoteName }}{% if entry.secondQuotePosition | length %} <strong>{{ entry.secondQuotePosition }}</strong>{% endif %}
          {% endif %}
  {% endif %}
  {% endif %}
  ///////////////////////////////
  
  {% for block in entry.projectContent %}
  {% if block.type == 'imageGrid' %}
  section.uk-padding-large
    .max-width
      .uk-margin-bottom
        h2.inline.uk-text-lead Image gallery / 
        span Click on image thumbnail to view gallery
      .row.row5
        {% for asset in block.images %}
        .col.col--1-of-4.col--m-1-of-2.col--s-1-of-2
          a(href="http://").grid-thumb.uk-link-reset.gallery-btn(@click="openGallery($event, {{ loop.index0 }})")
            span VIEW
            .square.anbg(
            data-bg="{{ craft.imager.transformImage(asset, {format: 'jpg', width: 300, height: 300}) }}"
            style="background-image: url('{{ craft.imager.transformImage(asset, {format: 'jpg', width: 12, blur: 10 }) }}');"
            )
            //img(src="{{ craft.imager.transformImage(asset, {format: 'jpg', width: 600, height: 600}) }}" alt="{{ asset.title }}")
        {% endfor %}
  script.
    window.items = [
    {% for asset in block.images %}
    {
      src: '{{ craft.imager.transformImage(asset,{ format: 'jpg', width: 1600, jpegQuality: 100 }) }}',
      w: {{ asset.width }},
      h: {{ asset.height }}
    }{% if not loop.last %},{% endif %}
    {% endfor %}
    ];
  {% elseif block.type == 'videoBlock' %}
  section.video-block.uk-padding-large
    .max-width
      .row
        .col.col--3-of-4
          .video-hold
            {% if block.youtubeUrl | length %}
            iframe(v-if='showVideo' src="https://www.youtube.com/embed/{{ block.youtubeUrl | split('?v=') | last }}?autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
            {% endif %}
            {% for asset in block.videoPoster.limit(1) %}
            transition(name="fade")
              .video-poster(v-if="!showVideo" style="background-image: url('{{ craft.imager.transformImage(asset,{ format: 'jpg', width: 1200, jpegQuality: 100 }) }}')" @click="showVideo = !showVideo")
                .play-btn
                  span PLAY
                  div
            {% endfor %}
        .col.col--1-of-4.vb
          {% for row in block.credits %}
          li.uk-margin-medium-bottom
            .pre-line.dark {{ row.heading | upper }}
            {{ row.credit }}
          {% endfor %}
  {% elseif block.type == "quoteBlock" %}
  section.uk-padding-large.quote-block
    .max-width
      .row
        .col.col--1-of-2.vm
          {% if block.quote | length > 145 %}
          h2 “{{ block.quote }}”
          {% else %}
          h1 “{{ block.quote }}”
          {% endif %}
          {% if block.quoter | length or block.quoterPosition | length %}
          .orange-btn.no-hover {{ block.quoter }}{% if block.quoterPosition | length %} <strong>{{ block.quoterPosition }}</strong>{% endif %}
          {% endif %}
        .col.col--1-of-2.vm
          {% for asset in block.image.limit(1) %}
          img(src="{{ craft.imager.transformImage(asset, { width: 700, height: 700, format: 'jpg' }) }}", alt="")
          {% endfor %}
  {% elseif block.type == 'fullWidthSlider' %}
  section.uk-padding-large
    .max-width
      .fullwidth-slider.uk-light
        .swiper-container.rel
          .uk-light.arrow-hold
            a.uk-position-center-left.uk-position-small(href='#', uk-icon="icon: chevron-left; ratio:2").z-index-10.full-width-slider-prev
            a.uk-position-center-right.uk-position-small(href='#', uk-icon="icon: chevron-right; ratio:2").z-index-10.full-width-slider-next
          .swiper-wrapper
            {% for asset in block.images %}
            .swiper-slide.uk-background-cover
              .aspect-16-9.uk-background-cover.swiper-lazy(data-background="{{ craft.imager.transformImage(asset, { format: 'jpg', width: 1300 }) }}")
                .swiper-lazy-preloader
            {% endfor %}
          {% set grabBg = 'white' %}
          .swiper-scrollbar(class="grabbg-{{ grabBg }}")
  {% endif %}
  {% endfor %}
  section.grey-bg.uk-padding-large
    .max-width.mbs-wrap
      .uk-padding-large.uk-padding-remove-left.uk-padding-remove-right
        .uk-margin-top.uk-margin-bottom.uk-clearfix
          span.uk-text-lead.uk-link-reset.orange-link Recently submitted work / 
          script.
            window.recentWork = {
              {% for cat in craft.categories.group('propertyCategory') %}
              {{ cat.id }} : false,
              {% endfor %}
            };
          {% for cat in craft.categories.group('propertyCategory') %}
          a(href="#/" @click="recentWork[{{ cat.id }}] = !recentWork[{{ cat.id }}]" v-bind:class="{ 'selected' : recentWork[{{ cat.id }}] }").uk-link-reset.orange-link {{ cat.title }} ({{ craft.entries.section('projects').relatedTo(cat).total() }}), 
          {% endfor %}
          a(href="#/" @click="{% for cat in craft.categories.group('propertyCategory') %}recentWork[{{ cat.id }}] = false; {% endfor %}" v-bind:class="{ 'selected' : {% for cat in craft.categories.group('propertyCategory') %}!recentWork[{{ cat.id }}] {{ not loop.last ? '&&' : '' }}{% endfor %} }").uk-link-reset.orange-link.uk-float-right All ({{ craft.entries.section('projects').total() }})
        {% set projects = craft.entries.section('projects').order('postDate desc') %}
        .multi-block-swiper
          .swiper-container
            .swiper-wrapper
              {% if projects is not defined %}
              {% set projects = craft.entries.section('projects').order('postDate asc') %}
              {% endif %}
              {% for project in projects %}
              transition(name="fade" mode="out-in")
                .swiper-slide.white-text(v-if="({% for cat in project.propertyCategories %}recentWork[{{ cat.id }}] {{ not loop.last ? '||' : '' }}{% endfor %}) || ({% for cat in craft.categories.group('propertyCategory') %}!recentWork[{{ cat.id }}] {{ not loop.last ? '&&' : '' }}{% endfor %})")
                  a(href="{{ project.url }}").square-image-btn.uk-background-cover
                    .swiper-lazy(
                      data-background="{% for asset in project.headingImage.limit(1) %}{{ craft.imager.transformImage(asset, {width: 300, height: 300, format: 'jpg'}) }}{% endfor %}"
                      style="{% for asset in project.headingImage.limit(1) %}background-image: url('{{ craft.imager.transformImage(asset, {width: 12, blur: 30, format: 'jpg'}) }}'){% endfor %}"
                    )
                    .inner
                      .uk-padding
                        p.pre-line.uk-margin-remove Project name
                        p.uk-margin-remove-top {{ project.title }}
                        p.pre-line.uk-margin-remove Architect
                        p.uk-margin-remove-top {{ project.author.fullName }}
                        p.pre-line.uk-margin-remove Location
                        p.uk-margin-remove-top {{ project.location }}
              {% endfor %}
            .swiper-scrollbar(class="grabbg-grey")
  {% include '_includes/_photoswipe.html' %}
{% endblock %}
