{% extends '_layoutaltfoot' %}
{% block content %}
{% if currentUser %}<div class="main-container grey-bg"><section class="uk-padding-large"><div class="white-bg max-small shad"><div class="max-small"><div class="uk-padding-large"><form method="post" action="" accept-charset="UTF-8" enctype="multipart/form-data" class="uk-form-horizontal register-form"><fieldset class="uk-fieldset">{{ getCsrfInput() }}<input type="hidden" name="action" value="entries/saveEntry"/><input type="hidden" name="redirect" value="projects/{slug}"/><input type="hidden" name="sectionId" value="3"/><input type="hidden" name="enabled" value="1">
{% include '_includes/_upload-form.html' %}</fieldset></form></div></div></div></section></div>{% else %}
{% redirect siteUrl ~ 'user/login' %}
{% endif %}
{% endblock %}