{% extends '_layoutaltfoot' %}
{% block content %}
{% if currentUser %}
.main-container.grey-bg
  section.uk-padding-large
    .white-bg.max-small.shad
      .max-small
        .uk-padding-large
          form(method="post" action="" accept-charset="UTF-8" enctype="multipart/form-data").uk-form-horizontal.register-form
            fieldset.uk-fieldset
              {{ getCsrfInput() }}
              input(type="hidden" name="action" value="entries/saveEntry")
              input(type="hidden" name="redirect" value="projects/{slug}")
              input(type="hidden" name="sectionId" value="3")
              <input type="hidden" name="enabled" value="1">
              {% include '_includes/_upload-form.html' %}
{% else %}
{% redirect siteUrl ~ 'user/login' %}
{% endif %}
{% endblock %}
    
