{% extends '_layoutaltfoot' %}
{% block content %}<div class="main-container grey-bg"><section class="uk-padding-large"><h1 class="text-center mb-large">Member Practices</h1><div class="max-small white-bg shad"><div class="uk-padding">     
{% paginate craft.entries.section('companies').limit(18) as entries %}
{% for company in entries %}<div class="uk-card-title uk-margin-bottom">{{ company.title }}</div>{% if company.email | length %}<p class="uk-margin-remove"><span class="uk-text-bold">Email:</span> {{ company.email }}</p>{% endif %}
{% if company.telephone | length %}<p class="uk-margin-remove"><span class="uk-text-bold">Telephone:</span> {{ company.telephone }}</p>{% endif %}
{% if company.address | length %}<p class="uk-margin-remove"><span class="uk-text-bold">Address:</span> {{ company.address }}</p>{% endif %}
{% if company.companyWebsite | length %}<p class="uk-margin-remove"><span class="uk-text-bold">Website:</span> {{ company.companyWebsite }}</p>{% endif %}
{% if not loop.last %}<hr/>{% endif %}
{% endfor %}</div></div><ul class="uk-pagination uk-flex-center" uk-margin>{% if paginate.prevUrl %}<li><a href="{{ paginate.prevUrl }}"><span uk-pagination-previous></span></a></li>{% endif %}
{% for page, url in paginate.getPrevUrls(5) %}
<li><a href="{{ url }}">{{ page }}</a></li>
{% endfor %}
<li class="uk-active"><span>{{ paginate.currentPage }}</span></li>
{% for page, url in paginate.getNextUrls(5) %}
<li><a href="{{ url }}">{{ page }}</a></li>
{% endfor %}
{% if paginate.nextUrl %}<li><a href="{{ paginate.nextUrl }}"><span uk-pagination-next></span></a></li>{% endif %}</ul></section></div>{% endblock %}