{% extends '_layoutaltfoot' %}
{% block content %}
.main-container.grey-bg
  section.uk-padding-large
    h1.text-center.mb-large Member Practices
    .max-small.white-bg.shad
      .uk-padding      
        {% paginate craft.entries.section('companies').limit(18) as entries %}
        {% for company in entries %}
        .uk-card-title.uk-margin-bottom {{ company.title }}
        {% if company.email | length %}
        p.uk-margin-remove <span class="uk-text-bold">Email:</span> {{ company.email }}
        {% endif %}
        {% if company.telephone | length %}
        p.uk-margin-remove <span class="uk-text-bold">Telephone:</span> {{ company.telephone }}
        {% endif %}
        {% if company.address | length %}
        p.uk-margin-remove <span class="uk-text-bold">Address:</span> {{ company.address }}
        {% endif %}
        {% if company.companyWebsite | length %}
        p.uk-margin-remove <span class="uk-text-bold">Website:</span> {{ company.companyWebsite }}
        {% endif %}
        {% if not loop.last %}
        hr
        {% endif %}
        {% endfor %}
    <ul class="uk-pagination uk-flex-center" uk-margin>
    //- <a href="{{ paginate.firstUrl }}">First Page</a>
    {% if paginate.prevUrl %}<li><a href="{{ paginate.prevUrl }}"><span uk-pagination-previous></span></a></li>{% endif %}

    {% for page, url in paginate.getPrevUrls(5) %}
    <li><a href="{{ url }}">{{ page }}</a></li>
    {% endfor %}
    
    <li class="uk-active"><span>{{ paginate.currentPage }}</span></li>

    {% for page, url in paginate.getNextUrls(5) %}
    <li><a href="{{ url }}">{{ page }}</a></li>
    {% endfor %}

    {% if paginate.nextUrl %}<li><a href="{{ paginate.nextUrl }}"><span uk-pagination-next></span></a></li>{% endif %}
    //- <a href="{{ paginate.lastUrl }}">Last Page</a>
    </ul>

{% endblock %}
