{% extends '_layoutaltfoot' %}
{% block content %}
.main-container.grey-bg
  section.uk-padding-large
    .max-width
      .uk-padding-large.white-bg.card-shadow
        {% set seggy = craft.request.getSegment(2) %}
        {% set member = craft.users.id(seggy).first() %}
        {% if currentUser %}
        {% if currentUser.id == member.id %}
        {% redirect siteUrl ~ 'user' %}
        {% endif %}
        {% endif %}
        //h1 {{ member.fullName }}
        {% for asset in member.profilePhoto.limit(1) %}
        img(src="{{ asset.url('profile') }}", alt="{{ asset.title }}").uk-border-circle.main-profile
        {% endfor %}
        ul.uk-breadcrumb
          li
            a(href="{{ siteUrl }}members") Members
          li
            span {{ member.fullName | ucwords }}
        article.uk-article
          {% if member.photoUrl | length %}<img class="uk-border-circle" src="{{ member.photoUrl }}">{% endif %}
          h1.uk-article-title {{ member.fullName | ucwords }} / <span class="smaller">{{ member.qualifications | length ? member.qualifications : 'Architect' }}</span>
          .link-box
            {% if member.facebookLink | length %}
            a(href="{{ member.facebookLink }}" uk-icon="icon: facebook; ratio: 1" target="_blank").fb.social-link.text-center
            {% endif %}
            {% if member.twitterLink | length %}
            <a href="{{ member.twitterLink }}" class="social-link text-center twitter" uk-icon="icon: twitter; ratio: 1;" target="_blank"></a>
            {% endif %}
            {% if member.instagramLink | length %}
            <a href="{{ member.instagramLink }}" class="social-link instagram text-center" uk-icon="icon: instagram; ratio: 1;" target="_blank"></a>
            {% endif %}
            {% if member.pinterestLink | length %}
            <a href="{{ member.pinterestLink }}" class="social-link pinterest text-center" uk-icon="icon: pinterest; ratio: 1;" target="_blank"></a>
            {% endif %}
            {% if member.linkedinLink | length %}
            <a href="{{ member.linkedinLink }}" class="social-link linkedin text-center" uk-icon="icon: linkedin; ratio: 1;" target="_blank"></a>
            {% endif %}
            {% if member.companyWebsite | length %}
            <a href="{{ member.companyWebsite }}" class="social-link text-center" uk-icon="icon: world; ratio: 1;" target="_blank"></a>
            {% endif %}
          p.uk-article-meta Profile created {{ member.dateCreated }}
          {% if member.personalProfile | length %}
          p.uk-text-lead {{ member.personalProfile }}
          {% endif %}
          {% set userProjects = craft.entries.section('projects').authorId( member.id ) %}
          {% set collabProjects = craft.entries.section('projects').search('collaborators:"' ~ member.id ~ '"') %}
          
          {% set userProjects = userProjects | merge( collabProjects ) %}
          {% if userProjects | length %}
          h2 Submitted projects
          hr
          .row
            {% for project in userProjects %}
            .col.col--1-of-4
              a(href="{{ project.url }}").uk-inline.basic-hover
                {% for asset in project.headingImage.limit(1) %}
                img(src="{{ craft.imager.transformImage(asset, {width: 600, height: 600, format: 'jpg'}) }}").full-width
                {% endfor %}
                .uk-overlay.uk-overlay-primary.uk-position-bottom
                  p {{ project.title }}
            {% endfor %}
          {% else %}
          h3 This user has not submitted any projects
          {% endif %}
{% endblock %}
