{% extends '_layoutaltfoot' %}
{% block content %}
.main-container.grey-bg
  section.uk-padding-large
    .toggle-section
      .toggle-box
        .option-tab.js-select(data-tab="members").active Members
        .option-tab.js-select(data-tab="companies") Companies
    #members.tab
      .max-width
        //- h1.text-center.mb-large Members
        .row.js-even-heights
          {% paginate craft.users.group('members').limit(12) as entries %}
          {% for member in entries %}
          .col.col--1-of-2.col--m-1-of-2
            .uk-card.uk-card-default.uk-card-small
              .uk-card-header.text-center-xsm.js-set
                .inb.vm.full-width-xsm
                  {% if member.profilePhoto | length %}
                  {% for asset in member.profilePhoto %}
                  img(src="{{ asset.url('profile') }}" width="80").uk-border-circle
                  {% endfor %}
                  {% else %}
                  img(src="{{ siteUrl }}res/img/defaultuserphoto.png" width="80" height="80" alt="Profile").uk-border-circle
                  {% endif %}
                .inb.vm.uk-padding-small
                  .uk-card-title.uk-margin-remove-bottom {{ member.fullName | ucwords }}
                  p.uk-text-meta.uk-margin-remove-top.uk-margin-remove-bottom {{ member.qualifications }}
                  p.uk-text-meta.uk-margin-remove-top.uk-margin-remove-bottom Architect
                //.uk-grid-small.uk-flex-middle(uk-grid)
                  .uk-width-auto
                    {% if member.photoUrl | length %}
                    img(src="{{ member.photoUrl }}" width="50" height="50" alt="{{ member.fullName | ucwords }}").uk-border-circle
                    {% else %}
                    img(src="{{ siteUrl }}res/img/defaultuserphoto.png",width="50" height="50" alt="Profile").uk-border-circle
                    {% endif %}
                  .uk-width-expand
                    .uk-card-title.uk-margin-remove-bottom {{ member.fullName | ucwords }}
                    p.uk-text-meta.uk-margin-remove-top Architect
              .uk-card-body
                .set-height
                  {% if member.personalProfile|length > 200 %}
                  p {{ member.personalProfile|slice(0,200) }}...
                  {% else %}
                  p {{ member.personalProfile }}
                  {% endif %}
              .uk-card-footer.uk-clearfix
                a(href="{{ siteUrl }}members/{{ member.id }}").uk-button.uk-button-text.uk-float-right View Profile
          {% endfor %}
      <ul class="uk-pagination uk-flex-center" uk-margin>
      //- <a href="{{ paginate.firstUrl }}">First Page</a>
      {% if paginate.prevUrl %}<li><a href="{{ paginate.prevUrl }}"><span uk-pagination-previous></span></a></li>{% endif %}

      {% for page, url in paginate.getPrevUrls(5) %}
      <li><a href="{{ url }}">{{ page }}</a></li>
      {% endfor %}
      
      <li class="uk-active"><span>{{ paginate.currentPage }}</span></li>

      {% for page, url in paginate.getNextUrls(5) %}
      <li><a href="{{ url }}">{{ page }}</a></li>
      {% endfor %}

      {% if paginate.nextUrl %}<li><a href="{{ paginate.nextUrl }}"><span uk-pagination-next></span></a></li>{% endif %}
      //- <a href="{{ paginate.lastUrl }}">Last Page</a>
      </ul>
    #companies.tab
        //- h1.text-center.mb-large Member Practices
        .max-small.white-bg.shad
          .uk-padding      
            {% paginate craft.entries.section('companies').limit(18) as entries %}
            {% for company in entries %}
            .uk-card-title.uk-margin-bottom {{ company.title }}
            {% if company.email | length %}
            p.uk-margin-remove <span class="uk-text-bold">Email:</span> {{ company.email }}
            {% endif %}
            {% if company.telephone | length %}
            p.uk-margin-remove <span class="uk-text-bold">Telephone:</span> {{ company.telephone }}
            {% endif %}
            {% if company.address | length %}
            p.uk-margin-remove <span class="uk-text-bold">Address:</span> {{ company.address }}
            {% endif %}
            {% if company.companyWebsite | length %}
            p.uk-margin-remove <span class="uk-text-bold">Website:</span> {{ company.companyWebsite }}
            {% endif %}
            {% if not loop.last %}
            hr
            {% endif %}
            {% endfor %}
        <ul class="uk-pagination uk-flex-center" uk-margin>
        //- <a href="{{ paginate.firstUrl }}">First Page</a>
        {% if paginate.prevUrl %}<li><a href="{{ paginate.prevUrl }}"><span uk-pagination-previous></span></a></li>{% endif %}

        {% for page, url in paginate.getPrevUrls(5) %}
        <li><a href="{{ url }}">{{ page }}</a></li>
        {% endfor %}
        
        <li class="uk-active"><span>{{ paginate.currentPage }}</span></li>

        {% for page, url in paginate.getNextUrls(5) %}
        <li><a href="{{ url }}">{{ page }}</a></li>
        {% endfor %}

        {% if paginate.nextUrl %}<li><a href="{{ paginate.nextUrl }}"><span uk-pagination-next></span></a></li>{% endif %}
        //- <a href="{{ paginate.lastUrl }}">Last Page</a>
        </ul>

{% endblock %}