{% extends '_layoutaltfoot' %}
{% block content %}
.main-container
  section.uk-padding.uk-padding-large
    .max-width
      .uk-padding-large.uk-padding-remove-left.uk-padding-remove-right
        .row
          {% set user = craft.eventbrite.self.users() %}
          {% set ownedEvents = craft.eventbrite.self.ownedEvents({'status': 'live'}) %}
          {% if ownedEvents | length %}
          .col.col--3-of-4.vb
            p.pre-line.dark UPCOMING EVENTS
            h2 AJA EVENTS
            
            {% for ownedEvent in ownedEvents %}
            h3 {{ ownedEvent.name.text }}
            p.uk-text-muted {{ ownedEvent.start.local | date('l d F Y') }} <span class="uk-margin-small-left uk-margin-small-right">|</span> {{ ownedEvent.start.local | date('h:i a') }} - {{ ownedEvent.end.local | date('h:i a') }}
            {% set venue = craft.eventbrite.venues.venues({'id': ownedEvent.venue_id}) %}
            {% set venueLocation = craft.eventbrite.venues.venueImages({'id': ownedEvent.venue_id}) %}
            
            {% for events in venueLocation.events %}
            p ---
            //- p {{dump(events)}}
            
            
            {% for key, logo in events.logo %}
            
            p test - {{key}}
            {% if (key == "original") %}
            
            {% if logo.url %}
            p {{ logo.url }}
            {% endif %}
            {% endif %}
            
            
            
            {% endfor %}
            p ---
            {% endfor%}
            
            
            //p {{venue.address.address_1}}, {{venue.address.localized_area_display}}
            h1 here - {{ownedEvent.venue_id}}
            google-map(
              lat="{{ venue.address.latitude }}"
              long="{{ venue.address.longitude }}"
            ).map  
            p {{ownedEvent.description.text}}
            .uk-text-left
              a(href="{{ ownedEvent.url }}" target="_blank").orange-btn BUY TICKETS
            {% endfor %}
          {% else %}
          .col.col--2-of-2
            p.uk-text-lead.uk-text-center No upcoming events.
          {% endif %}
{% endblock %}
