{% extends '_layoutaltfoot' %}
{% block content %}<div class="main-container"><section class="uk-padding uk-padding-large"><div class="max-width"><div class="uk-padding-large uk-padding-remove-left uk-padding-remove-right"><div class="row">{% set user = craft.eventbrite.self.users() %}
{% set ownedEvents = craft.eventbrite.self.ownedEvents({'status': 'live'}) %}
{% if ownedEvents | length %}<div class="col col--3-of-4 vb"><p class="pre-line dark">UPCOMING EVENTS</p><h2>AJA EVENTS</h2>{% for ownedEvent in ownedEvents %}<h3>{{ ownedEvent.name.text }}</h3><p class="uk-text-muted">{{ ownedEvent.start.local | date('l d F Y') }} <span class="uk-margin-small-left uk-margin-small-right">|</span> {{ ownedEvent.start.local | date('h:i a') }} - {{ ownedEvent.end.local | date('h:i a') }}</p>{% set venue = craft.eventbrite.venues.venues({'id': ownedEvent.venue_id}) %}
{% set venueLocation = craft.eventbrite.venues.venueImages({'id': ownedEvent.venue_id}) %}
{% for events in venueLocation.events %}<p>---</p>

{% for key, logo in events.logo %}<p>test - {{key}}</p>{% if (key == "original") %}
{% if logo.url %}<p>{{ logo.url }}</p>{% endif %}
{% endif %}
{% endfor %}<p>---</p>{% endfor%}<!--p {{venue.address.address_1}}, {{venue.address.localized_area_display}}--><h1>here - {{ownedEvent.venue_id}}</h1><google-map lat="{{ venue.address.latitude }}" long="{{ venue.address.longitude }}" class="map"> </google-map><p>{{ownedEvent.description.text}}</p><div class="uk-text-left"><a href="{{ ownedEvent.url }}" target="_blank" class="orange-btn">BUY TICKETS</a></div>{% endfor %}</div>{% else %}<div class="col col--2-of-2"><p class="uk-text-lead uk-text-center">No upcoming events.</p></div>{% endif %}</div></div></div></section></div>{% endblock %}