﻿.download-link{
    display: inline-block;
    width: 100%;
    position: relative;
    span{
        padding-left: 40px;
        display: inline-block;
    }
    img{
        width:30px;
        position: absolute;
        left: 0;
        top: 0;
    }
}
.download-btn, .option-tab {
    border: 0;
    background: #f26627;
    padding: 25px 30px;
    color: white;
    cursor: pointer;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin: 0 15px;
    min-width: 90px;
}
.option-tab:last-of-type {
    margin-right: 15px;
}
.option-tab {
    background: grey;
    display: inline-block;
    margin: 0px 5px;
}
.option-tab.active {
    background: #f26627;
}
.download-btn:hover, .option-tab:hover {
    background: #a15700;
}
.swiper-container2.swiper-container-horizontal.swiper-container-wp8-horizontal {
    height: 100vh;
    max-height: 700px;
    position: relative;
}
.image-slider{
    padding-top: 70px!important;
}
.swiper-inner {
    width: 100%;
    height: 100%;
    background-size: cover;
}
.download-cont{
    margin-bottom: 40px;
}
.swiper-outer {
    overflow: hidden;
}
.video-block {
    max-width: 1486px;
    margin: auto;
    padding-top: 175px;
    .button {
        max-width: 200px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.5s;
        @media (max-width: 850px) {
            padding-left: 20px;
            padding-right: 20px;
            max-width: 70px;
        }
        &:hover {
            box-shadow: 0px 0px 14px 1px #009ee2;
        }
    }
    .video-cont {
        height: 100%;
        width: 100%;
    }
    .video-cont.u-padding-l {
        padding: 130px;
        padding-left: 219px;
        padding-right: 219px;
    }
    .video-inner {
        height: 100%;
        width: 100%;
        position: relative;
    }
    h2.u-margin-bottom {
        margin-bottom: 124px;
        @media (max-width: 850px) {
            margin-bottom: 55px;
            margin-top: 22px;
        }
    }
    .videoWrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;
      }
    .videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .ytp-large-play-button {
        cursor: pointer;
        -moz-appearance: none;
        -webkit-appearance: none;
        border-width: 1px;
        border-color: black;
        border-style: solid;
        color: #4a4a49;
        background: none;
        border-radius: 45px;
        padding: 25px 60px;
        font-family: inherit;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            display: none!important;
        }
    }


      .video-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        cursor: pointer;
      }
  
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
      @media (max-width: 850px) {
        padding-top: 57.5px;
      }
}

.modal {
    z-index: 1000;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}
  

/* The Close Button */
.close {
    color: white;
    font-family: sans-serif;
    font-size: 30px !important;
    line-height: 30px;
    margin-bottom: 7px;
    margin-right: 16.5px;
    float: right;
    cursor: pointer;
    &:hover, &:focus{
        text-decoration: none;
        cursor: pointer;
    }
}

/* Modal Header */
.modal-header {
    padding: 0px 50px;
    padding-top: 50px;
    text-align: right;
    @media (max-width: 550px){
        padding-top: 20px;
    }
    h2 {
        font-family: 'Objektiv Xbold', Sans-Serif;
        margin-bottom: 15px;
        margin-bottom: 15px;
        text-align: center;
    }
    .close-modal {
        font-size: 27px;
        line-height: 11px;
        margin-bottom: 7px;
        margin-right: 0px;
        text-align: right;
        cursor: pointer;
        color: black;
        position: absolute;
        @media (max-width: 550px){
            top: 30px;
            right: 32px;
        }
    }
    .uk-margin-small-top {
        @media (max-width: 550px){
            margin-top: 20px!important;
        }
    }
}

/* Modal Body */
.modal-body {
    padding: 25px 50px;
    padding-bottom: 50px;
    p{
        color: black;
        text-align: left;
    }
    @media (max-width: 550px){
        padding: 0px 10px 0px 40px;
        padding-bottom: 18px;
    }
}

/* Modal Content */
.modal-content {
    text-align: left;
    position: relative;
    background-color: white;
    padding: 0;
    width: 85%;
    max-width: 850px;
    margin: 15% auto; /* 15% from the top and centered */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
    @media (min-height: 500px){
        margin-top: 2.5%;
    }
    @media (max-width: 850px){
        width: 90%;
    }
    .hide {
        display: none;
    }
}
/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1} 
}

.js-open-video {
    margin-left: 25px;
    @media(max-width: 649px) {
        margin-left: 0px;
        min-width: 125px;
    }
}

#openVideo {
    .modal-content {
        background: none;
        border: none;
        box-shadow: none;
        width: 100%;
        max-width: none!important;
        position: relative;
    }
    .modal-header {
        text-align: right;
        position: absolute;
        right: 30px;
        padding: 0px!important;
        top: -35px;
    }
    .close-modal {
        color: white;
    }
    .videoWrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;
      }
      .videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      .modal-body {
        margin: 25px 50px;
        /* padding-bottom: 50px; */
        margin-top: 5%;
        padding: 0px!important;
      }
}

/* members area */

.toggle-section {
    max-width: 500px;
    text-align: center;
    margin: auto;
    margin-bottom: 70px;
    .toggle-box {
        width: 100%;
        margin: auto;
    }
}

.companies {
    display: none;
}


// accordion 

.accordion-title {
    cursor: pointer;
    padding-bottom: 0px;
    font-weight: bold;
    transition: 0.4s;
    .post-message, p {
        margin-bottom: 0px!important;
    }
  }
  

 .accordion-title{
    &:after {
        content: '\002B';
        color:lightgrey;
        font-weight: bold;
        float: right;
        margin-left: 5px;
        font-size: 45px;
        top: 28px;
        position: absolute;
        right: 0;
     }
 }

 .accordion-title.active {
    .post-message, p {
        margin-bottom: 20px!important;
    }
 }
  
 .accordion-title.active:after {
    content: "\2212";
 }
  
 .accordion-content {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    padding-top: 0px;
    padding-bottom: 0px;
 }

 .uk-padding-small.pad-top {
    padding-top: 30px!important;
}


.foot-link {
    position: relative;
    a {
        margin-right: 5px;
    }
    span {
        position: relative;
        top: 9px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}