{% extends '_layoutaltfoot' %}
{% block content %}
{% if currentUser %}
{% else %}
{% set isEdit = 0 %}
{% endif %}<div class="main-container grey-bg"><section class="uk-padding-large"><div class="max-width"><div class="toggle-section"><div class="toggle-box"><div data-tab="news" class="option-tab js-select active">News</div><div data-tab="events" class="option-tab js-select">Events</div></div></div><div id="news" class="news-cont tab">{% if craft.request.isMobileBrowser %}<h1 style="margin-bottom: 30px" class="text-center mb-large">News</h1><a href="#social" style="line-height: 50px">View Social</a>{% else %}<h1 class="text-center mb-large">News</h1>{% endif %}<div class="row text-left"><div class="col col--2-of-3"><div class="row">{% paginate craft.entries.section('news').limit(12) as entries %}
{% for entry in entries %}<div class="col col--1-of-2 col--m-1-of-2 text-left"><div class="uk-card uk-card-default news-card uk-card-small"><div class="uk-card-media-top">{% for asset in entry.headingImage.limit(1) %}<img src="{{ craft.imager.transformImage( asset, { width: 400, height: 400, format: 'jpg' } ) }}" alt="" class="full-width"/>{% endfor %}</div><div class="uk-card-body"><div class="set-height"><h3 class="uk-card-title uk-margin-remove-bottom">{{ entry.title }}</h3><time class="uk-text-meta">{{ entry.postDate | date('d/m/Y') }}</time><p>{{ entry.abstract }}</p></div></div><div class="uk-clearfix uk-card-footer"><a href="{{ entry.url }}" class="uk-button uk-button-text uk-float-right">View Article</a></div></div></div>{% endfor %}<a id="social" target="_blank" style="margin-bottom: 25px;"></a></div></div><div class="col col--1-of-3">{% if craft.request.isMobileBrowser %}<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FJerseyArchitectsOrg%2F&amp;tabs=timeline&amp;width=325&amp;height=525&amp;small_header=true&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId" width="325" height="525" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>{% else %}<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FJerseyArchitectsOrg%2F&amp;tabs=timeline&amp;width=375&amp;height=643&amp;small_header=false&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId" width="375" height="643" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>{% endif %}</div><ul class="uk-pagination uk-flex-center" uk-margin>{% if paginate.prevUrl %}<li><a href="{{ paginate.prevUrl }}"><span uk-pagination-previous></span></a></li>{% endif %}
{% for page, url in paginate.getPrevUrls(5) %}
<li><a href="{{ url }}">{{ page }}</a></li>
{% endfor %}
<li class="uk-active"><span>{{ paginate.currentPage }}</span></li>
{% for page, url in paginate.getNextUrls(5) %}
<li><a href="{{ url }}">{{ page }}</a></li>
{% endfor %}
{% if paginate.nextUrl %}<li><a href="{{ paginate.nextUrl }}"><span uk-pagination-next></span></a></li>{% endif %}</ul></div></div><div id="events" class="events-cont tab"><h1 class="text-center mb-large">Events</h1><div class="row text-left"><div class="col col--3-of-3"><div class="row">{% paginate craft.entries.section('events').limit(12) as entries %}
{% for entry in entries %}<div class="col col--1-of-3 col--m-1-of-2 text-left"><div class="uk-card uk-card-default news-card uk-card-small"><div class="uk-card-media-top">{% for asset in entry.headingImage.limit(1) %}<img src="{{ craft.imager.transformImage( asset, { width: 400, height: 400, format: 'jpg' } ) }}" alt="" class="full-width"/>{% endfor %}</div><div class="uk-card-body"><div class="set-height"><h3 class="uk-card-title uk-margin-remove-bottom">{{ entry.title }}</h3><time class="uk-text-meta">{{ entry.postDate | date('d/m/Y') }}</time><p>{{ entry.abstract }}</p></div></div><div class="uk-clearfix uk-card-footer"><a href="{{ entry.url }}" class="uk-button uk-button-text uk-float-right">View Article</a></div></div></div>{% endfor %}<a id="social" target="_blank" style="margin-bottom: 25px;"></a></div></div><ul class="uk-pagination uk-flex-center" uk-margin>{% if paginate.prevUrl %}<li><a href="{{ paginate.prevUrl }}"><span uk-pagination-previous></span></a></li>{% endif %}
{% for page, url in paginate.getPrevUrls(5) %}
<li><a href="{{ url }}">{{ page }}</a></li>
{% endfor %}
<li class="uk-active"><span>{{ paginate.currentPage }}</span></li>
{% for page, url in paginate.getNextUrls(5) %}
<li><a href="{{ url }}">{{ page }}</a></li>
{% endfor %}
{% if paginate.nextUrl %}<li><a href="{{ paginate.nextUrl }}"><span uk-pagination-next></span></a></li>{% endif %}</ul></div><div class="row">{% set user = craft.eventbrite.self.users() %}
{% set ownedEvents = craft.eventbrite.self.ownedEvents({'status': 'completed'}) %}
{% if ownedEvents | length %}<div class="col col--3-of-3 js-even-heights"><p class="pre-line dark">PAST EVENTS</p><h2>AJA EVENTS</h2>{% for ownedEvent in ownedEvents %}
{% if loop.index < '7' %}
{% set eventImage = '' %}
{% set venue = craft.eventbrite.venues.venues({'id': ownedEvent.venue_id}) %}
{% set venueLocation = craft.eventbrite.venues.venueImages({'id': ownedEvent.venue_id}) %}
{% for events in venueLocation.events %}
{% for key, logo in events.logo %}
{% if (key == "original") %}
{% if logo.url %}
{% set eventImage = logo.url %}
{% endif %}
{% endif %}
{% endfor %}
{% endfor%}<div class="col col--1-of-3 col--m-1-of-2 text-left"><div class="uk-card uk-card-default news-card uk-card-small"><div class="uk-card-media-top"><img src="{{eventImage}}" alt="" class="full-width js-set"/></div><div class="uk-card-body js-set2"><h3 class="uk-card-title uk-margin-remove-bottom">{{ ownedEvent.name.text }}</h3><time class="uk-text-meta">{{ ownedEvent.start.local | date('l d F Y') }}</time><p style="max-height: 150px; overflow: hidden;">{{ownedEvent.description.text}}</p></div><div class="uk-clearfix uk-card-footer"></div></div></div>{% endif %}
{% endfor %}</div>{% endif %}</div></div></div></section></div>{% endblock %}