{% extends '_layoutaltfoot' %}
{% block content %}
{% set query = craft.request.getParam('q', '') %}
.main-container.grey-bg
  section.uk-padding-large
    .max-small
      h1.text-center Search results
      {% set results = craft.entries.search(query).section('not forum') %}
      {% set userResults = craft.users.search(query) %}
      p.text-center Your search of '{{ query }}' has returned {{ results.total() }} results
      {% for result in results %}
      .uk-card.uk-card-default.uk-card-small
        .uk-card-body
          h3.uk-card-title.inb.uk-margin-remove-bottom {{ result.title }}
          span.uk-badge.uk-float-right {{ result.type }}
          {% if result.type == 'projects' %}
          p.uk-text-meta Project by {{ result.author.fullName | ucwords }}
          {% endif %}
        .uk-card-footer.uk-clearfix
          a(href="{{ result.getUrl }}").uk-button.uk-button-text.uk-float-right view page
      {% endfor %}
      
      {% for result in userResults %}
      
      {% endfor %}
      
{% endblock %}
