{% import '_includes/forms' as forms %}

<h2>Eventbrite API Wrapper Settings</h2>

<div class="eventbrite-field-container">
{{ forms.textField({
	label: "Personal OAuth Token"|t,
	id: 'oAuthToken',
	name: 'oAuthToken',
	value: settings.oAuthToken,
	errors: settings.getErrors('oAuthToken')
}) }}
{{ forms.textField({
	label: "Organization ID"|t,
	id: 'orgID',
	name: 'orgID',
	value: settings.orgID,
	errors: settings.getErrors('orgID')
}) }}
{{ forms.textField({
	label: "Cache Duration"|t,
	id: 'cacheDuration',
	name: 'cacheDuration',
	value: settings.cacheDuration,
	errors: settings.getErrors('cacheDuration')
}) }}

</div>