{% extends '_layoutaltfoot' %}
{% block content %}
{% if not currentUser %}
{% redirect siteUrl ~ 'user/login' %}
{% else %}
.main-container.grey-bg
  section.edit-profile-form
    .uk-padding-large
      .max-small.white-bg.shad
        .uk-padding
          form(method="post" accept-charset="UTF-8").uk-form-horizontal.edit-profile-form
            fieldset.uk-fieldset
              {{ getCsrfInput() }}
              <input type="hidden" name="action" value="users/saveUser">
              <input type="hidden" name="redirect" value="{{ siteUrl }}user">
              <input type="hidden" name="userId" value="{{ currentUser.id }}">
              {% set isEdit = true %}
              {% include '_includes/_user-form.html' %}
{% endif %}
{% endblock %}
