{% extends '_layoutaltfoot' %}
{% block content %}
{% if not currentUser %}
{% redirect siteUrl ~ 'user/login' %}
{% else %}<div class="main-container grey-bg"><section class="edit-profile-form"><div class="uk-padding-large"><div class="max-small white-bg shad"><div class="uk-padding"><form method="post" accept-charset="UTF-8" class="uk-form-horizontal edit-profile-form"><fieldset class="uk-fieldset">{{ getCsrfInput() }}
<input type="hidden" name="action" value="users/saveUser">
<input type="hidden" name="redirect" value="{{ siteUrl }}user">
<input type="hidden" name="userId" value="{{ currentUser.id }}">
{% set isEdit = true %}
{% include '_includes/_user-form.html' %}</fieldset></form></div></div></div></section></div>{% endif %}
{% endblock %}