{% extends '_layoutaltfoot' %}
{% block content %}
.main-container.grey-bg
  section.register-form
    .uk-padding-large
      .max-small.white-bg.shad
        .uk-padding
          form(method="post" accept-charset="UTF-8")
            legend.uk-legend Forgot password
            {{ getCsrfInput() }}
            <input type="hidden" name="action" value="users/sendPasswordResetEmail">
            <input type="hidden" name="redirect" value="">
            .uk-margin
              .full-width
                label.uk-form-label Enter username or email to get a password reset link by email
                .row
                  .col.col--3-of-4
                    .uk-margin-small
                      <input id="loginName" type="text" class="uk-input uk-form-large" name="loginName" value="{% if loginName is defined %}{{ loginName }}{% else %}{{ craft.session.rememberedUsername }}{% endif %}">
                  .col.col--1-of-4
                    .uk-margin-small
                      button(type="submit").uk-button.uk-button-secondary.uk-button-large.full-width submit
            {% if errors is defined %}
            {% for error in errors %}
            p.uk-text-danger {{ error }}
            {% endfor %}
            {% endif %}
{% endblock %}
