{% extends '_layoutaltfoot' %}
{% block content %}<div class="main-container grey-bg"><section class="register-form"><div class="uk-padding-large"><div class="max-small white-bg shad"><div class="uk-padding"><form method="post" accept-charset="UTF-8"><legend class="uk-legend">Forgot password</legend>{{ getCsrfInput() }}
<input type="hidden" name="action" value="users/sendPasswordResetEmail">
<input type="hidden" name="redirect" value=""><div class="uk-margin"><div class="full-width"><label class="uk-form-label">Enter username or email to get a password reset link by email</label><div class="row"><div class="col col--3-of-4"><div class="uk-margin-small"><input id="loginName" type="text" class="uk-input uk-form-large" name="loginName" value="{% if loginName is defined %}{{ loginName }}{% else %}{{ craft.session.rememberedUsername }}{% endif %}"></div></div><div class="col col--1-of-4"><div class="uk-margin-small"><button type="submit" class="uk-button uk-button-secondary uk-button-large full-width">submit</button></div></div></div></div></div>{% if errors is defined %}
{% for error in errors %}<p class="uk-text-danger">{{ error }}</p>{% endfor %}
{% endif %}</form></div></div></div></section></div>{% endblock %}