{% extends '_layoutaltfoot' %}
{% block content %}
{% if currentUser %}
.main-container.grey-bg
  section.uk-padding-large
    .max-width.white-bg
      .uk-padding-large.white-bg.card-shadow
        {% set member = currentUser %}
        //h1 {{ member.fullName }}
        {% for asset in member.profilePhoto.limit(1) %}
        img(src="{{ asset.url('profile') }}", alt="{{ asset.title }}").uk-border-circle.main-profile
        {% endfor %}
        {% if member.profilePhoto | length == 0 %}
        img(src="{{ siteUrl }}res/img/defaultuserphoto.png").uk-border-circle.main-profile
        {% endif %}
        .uk-text-center
          a(href="{{ siteUrl }}user/edit").uk-button.uk-button-primary.uk-margin-top EDIT PROFILE
        ul.uk-breadcrumb
          li
            a(href="{{ siteUrl }}members") Members
          li
            span {{ member.fullName | ucwords }}
        article.uk-article
          {% if member.photoUrl | length %}<img class="uk-border-circle" src="{{ member.photoUrl }}">{% endif %}
          h1.uk-article-title {{ member.fullName | ucwords }} / <span class="smaller">{{ member.qualifications | length ? member.qualifications : 'Architect' }}</span>
          .link-box
            {% if member.facebookLink | length %}
            a(href="{{ member.facebookLink }}" uk-icon="icon: facebook; ratio: 1" target="_blank").fb.social-link.text-center
            {% endif %}
            {% if member.twitterLink | length %}
            <a href="{{ member.twitterLink }}" class="social-link text-center twitter" uk-icon="icon: twitter; ratio: 1;" target="_blank"></a>
            {% endif %}
            {% if member.instagramLink | length %}
            <a href="{{ member.instagramLink }}" class="social-link instagram text-center" uk-icon="icon: instagram; ratio: 1;" target="_blank"></a>
            {% endif %}
            {% if member.pinterestLink | length %}
            <a href="{{ member.pinterestLink }}" class="social-link pinterest text-center" uk-icon="icon: pinterest; ratio: 1;" target="_blank"></a>
            {% endif %}
            {% if member.linkedinLink | length %}
            <a href="{{ member.linkedinLink }}" class="social-link linkedin text-center" uk-icon="icon: linkedin; ratio: 1;" target="_blank"></a>
            {% endif %}
            {% if member.companyWebsite | length %}
            <a href="{{ member.companyWebsite }}" class="social-link text-center" uk-icon="icon: world; ratio: 1;" target="_blank"></a>
            {% endif %}
          p.uk-article-meta Profile created {{ member.dateCreated }}
          {% if member.personalProfile | length %}
          p.uk-text-lead {{ member.personalProfile }}
          {% endif %}
          {% set userProjects = craft.entries.section('projects').authorId( member.id ) %}
          {% if userProjects | length %}
          h2 Submitted projects
          hr
          .row
            {% for project in craft.entries.section('projects').authorId( member.id ) %}
            .col.col--1-of-4
              .uk-inline
                form(action="" method="post" accept-charset="UTF-8").uk-overlay.uk-position-top-right.uk-padding-small
                  {{ getCsrfInput() }}
                  input(type="hidden" name="action" value="entries/deleteEntry")
                  input(type="hidden" name="entryId" value="{{ project.id }}")
                  button(type="submit").uk-button-small.uk-button.uk-button-danger <span uk-icon="icon: trash"></span> Delete
                {% for asset in project.headingImage.limit(1) %}
                img(src="{{ craft.imager.transformImage(asset, {width: 600, height: 600, format: 'jpg'}) }}").full-width
                {% endfor %}
                .uk-overlay.uk-overlay-primary.uk-position-bottom
                  p {{ project.title }}
              .uk-padding-small.uk-clearfix
                a(href="{{ siteUrl }}projects/edit?id={{ project.id }}").uk-button.uk-button-text.uk-float-left <span uk-icon="icon: pencil"></span> Edit
                a(href="{{ project.url }}").uk-button.uk-button-text.uk-float-right <span uk-icon="icon: forward"></span> View
            {% endfor %}
          {% else %}
          h3 You have not submitted any projects
          p Click the button below to upload your first project
          {% endif %}
          hr
          .uk-clearfix
            a(href="{{ siteUrl }}projects/upload").uk-button.uk-button-secondary.uk-float-right Upload project
{% else %}
{% redirect siteUrl ~ 'user/login' %}
{% endif %}
{% endblock %}
