{% extends '_layoutaltfoot' %}
{% block content %}
{% if currentUser %}<div class="main-container grey-bg"><section class="uk-padding-large"><div class="max-width white-bg"><div class="uk-padding-large white-bg card-shadow">{% set member = currentUser %}<!--h1 {{ member.fullName }}-->{% for asset in member.profilePhoto.limit(1) %}<img src="{{ asset.url('profile') }}" alt="{{ asset.title }}" class="uk-border-circle main-profile"/>{% endfor %}
{% if member.profilePhoto | length == 0 %}<img src="{{ siteUrl }}res/img/defaultuserphoto.png" class="uk-border-circle main-profile"/>{% endif %}<div class="uk-text-center"><a href="{{ siteUrl }}user/edit" class="uk-button uk-button-primary uk-margin-top">EDIT PROFILE</a></div><ul class="uk-breadcrumb"><li><a href="{{ siteUrl }}members">Members</a></li><li><span>{{ member.fullName | ucwords }}</span></li></ul><article class="uk-article">{% if member.photoUrl | length %}<img class="uk-border-circle" src="{{ member.photoUrl }}">{% endif %}<h1 class="uk-article-title">{{ member.fullName | ucwords }} / <span class="smaller">{{ member.qualifications | length ? member.qualifications : 'Architect' }}</span></h1><div class="link-box">{% if member.facebookLink | length %}<a href="{{ member.facebookLink }}" uk-icon="icon: facebook; ratio: 1" target="_blank" class="fb social-link text-center"></a>{% endif %}
{% if member.twitterLink | length %}
<a href="{{ member.twitterLink }}" class="social-link text-center twitter" uk-icon="icon: twitter; ratio: 1;" target="_blank"></a>
{% endif %}
{% if member.instagramLink | length %}
<a href="{{ member.instagramLink }}" class="social-link instagram text-center" uk-icon="icon: instagram; ratio: 1;" target="_blank"></a>
{% endif %}
{% if member.pinterestLink | length %}
<a href="{{ member.pinterestLink }}" class="social-link pinterest text-center" uk-icon="icon: pinterest; ratio: 1;" target="_blank"></a>
{% endif %}
{% if member.linkedinLink | length %}
<a href="{{ member.linkedinLink }}" class="social-link linkedin text-center" uk-icon="icon: linkedin; ratio: 1;" target="_blank"></a>
{% endif %}
{% if member.companyWebsite | length %}
<a href="{{ member.companyWebsite }}" class="social-link text-center" uk-icon="icon: world; ratio: 1;" target="_blank"></a>
{% endif %}</div><p class="uk-article-meta">Profile created {{ member.dateCreated }}</p>{% if member.personalProfile | length %}<p class="uk-text-lead">{{ member.personalProfile }}</p>{% endif %}
{% set userProjects = craft.entries.section('projects').authorId( member.id ) %}
{% if userProjects | length %}<h2>Submitted projects</h2><hr/><div class="row">{% for project in craft.entries.section('projects').authorId( member.id ) %}<div class="col col--1-of-4"><div class="uk-inline"><form action="" method="post" accept-charset="UTF-8" class="uk-overlay uk-position-top-right uk-padding-small">{{ getCsrfInput() }}<input type="hidden" name="action" value="entries/deleteEntry"/><input type="hidden" name="entryId" value="{{ project.id }}"/><button type="submit" class="uk-button-small uk-button uk-button-danger"><span uk-icon="icon: trash"></span> Delete</button></form>{% for asset in project.headingImage.limit(1) %}<img src="{{ craft.imager.transformImage(asset, {width: 600, height: 600, format: 'jpg'}) }}" class="full-width"/>{% endfor %}<div class="uk-overlay uk-overlay-primary uk-position-bottom"><p>{{ project.title }}</p></div></div><div class="uk-padding-small uk-clearfix"><a href="{{ siteUrl }}projects/edit?id={{ project.id }}" class="uk-button uk-button-text uk-float-left"><span uk-icon="icon: pencil"></span> Edit</a><a href="{{ project.url }}" class="uk-button uk-button-text uk-float-right"><span uk-icon="icon: forward"></span> View</a></div></div>{% endfor %}</div>{% else %}<h3>You have not submitted any projects</h3><p>Click the button below to upload your first project</p>{% endif %}<hr/><div class="uk-clearfix"><a href="{{ siteUrl }}projects/upload" class="uk-button uk-button-secondary uk-float-right">Upload project</a></div></article></div></div></section></div>{% else %}
{% redirect siteUrl ~ 'user/login' %}
{% endif %}
{% endblock %}