{% extends '_layoutaltfoot' %}
{% block content %}
{% set reg = craft.request.getParam('reg','') %}
.main-container.grey-bg
  {% if reg | length %}
  #email-confirm(uk-modal)
    .uk-modal-dialog.uk-modal-body
      h2.uk-modal-title Nearly There
      p We received your request for a members account and we are currently reviewing it. You will receive a verification email once the account has been approved.
      .uk-clearfix
        a(href="{{ craft.request.url }}").uk-modal-close.uk-button-secondary.uk-button.uk-float-right Ok
  {% endif %}
  {% if account is defined %}
  script.
    window.login = false;
  {% endif %}
  section.register-form
    .uk-padding-large
      .max-small.white-bg.shad
        .uk-padding.uk-padding-remove-bottom
          ul(uk-tab)
            li(@click="login=true")
              a(href="http://") Login
            li(@click="login=false" class="{% if account is defined %}uk-active{% endif %}")
              a(href="http://") Register
        transition(name="fade" mode="out-in")
          .login(v-if="login" v-bind:key='0')
            .uk-padding
              form(method="post" accept-charset="UTF-8")
                fieldset.uk-fieldset
                  legend.uk-legend Log in
                  {{ getCsrfInput() }}
                  input(type="hidden" name="action" value="users/login")
                  <input type="hidden" name="redirect" value="{{ siteUrl }}user">
                  .uk-margin
                    .uk-inline.full-width
                      <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: user"></span>
                      input(type="text" class="uk-input uk-form-large" placeholder="Username or email" name="loginName" value="{{ craft.session.rememberedUsername }}")
                  .uk-margin
                    .uk-inline.full-width
                      <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                      input(type="password" placeholder="Password" class="uk-input uk-form-large" name="password")
                  .uk-margin
                    a(href="{{ siteUrl }}user/forgot").uk-float-right.uk-button-text.uk-link-reset Forgot password?
                    label
                      input(type="checkbox" name="rememberMe" value="1" checked).uk-checkbox
                      span.uk-margin-small-left Remember me?
                  {% if errorMessage is defined %}
                  p.uk-text-danger {{ errorMessage }}
                  {% endif %} 
                  .uk-margin-top.uk-clearfix
                    input(type="submit" value="Log in").uk-button.uk-button-secondary.uk-button-large.uk-float-right
          .register(v-else v-bind:key='1')
            .uk-padding
              form(method="post" accept-charset="UTF-8").uk-form-horizontal.register-form.js-register-form
                fieldset.uk-fieldset
                  {{ getCsrfInput() }}
                  <input id="bear" value="" display>
                  <input type="hidden" name="action" value="users/saveUser">
                  <input type="hidden" name="redirect" value="{{ craft.request.url }}?reg=true">
                  {% include '_includes/_user-form.html' %}
{% endblock %}
