{#
 # 404 template
 # ------------
 #
 # This template is loaded whenever Craft cannot figure out how to
 # respond to an incoming request. No setup is involved to get your
 # 404 page working; you just need to call it 404.html and put it
 # at the root of your craft/templates/ folder.
 #
 # You can also create 400.html, 403.html, 500.html, and 503.html
 # templates if you’d like. If Craft can’t find an error template
 # to match the error code, it will just use the one in
 # craft/app/templates/ instead.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layoutaltfoot" %}
{% set title = "404" %}

{% block content %}
<div class="main-container">
  <div class="uk-padding-large text-center">
    <h1 class="e404">404</h1>
    <h1>Page not found</h1>
    <p>The page you are looking cannout be found please <a href="{{ siteUrl }}">Click Here</a> to return to the homepage.</p>
  </div>
</div>
{% endblock %}
