{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}
{% include '_includes/_header-core.html' %}
<div id="main" v-cloak>
<!-- <div class="content-container" v-bind:class="{ 'open-mobile-menu' : mobileNavOpen }"> -->

{% include '_includes/_mobile-nav.html' %}
{% include '_includes/_nav.html' %}

<transition name="overlay">
<div v-if="mobileNavOpen" class="content-container-overlay" @click="openMobileNav($event)" v-bind:class="{ 'content-container-overlay-open' : mobileNavOpen }" v-cloak></div>
</transition>

<div class="panel" v-bind:class="{ 'open-mobile-menu' : mobileNavOpen }">


{% block content %}
{% endblock %}

{% include '_includes/_prefoot.html' %}

{% include '_includes/_footer.html' %}
