//output:index.html,pretty:false
{% extends '_layout' %}
{% block content %}
{% set grabBg = '' %}
.main-container
  .home-project-slider.uk-light
    a.uk-position-center-left.uk-position-small(href='#', uk-icon="icon: chevron-left; ratio:2").z-index-10.home-project-slider-prev
    a.uk-position-center-right.uk-position-small(href='#', uk-icon="icon: chevron-right; ratio:2").z-index-10.home-project-slider-next
    .swiper-container
      .swiper-wrapper
        {% for project in craft.entries.section('projects').order('RAND()').limit(4) %}
        a(href="{{ project.url }}").block.swiper-slide.uk-position-relative
          .swiper-lazy(
          data-background="{{ craft.imager.transformImage(project.headingImage[0], {format: 'jpg', width: 1000}) }}"
          style="background-image: url('{{ craft.imager.transformImage(project.headingImage[0], {format: 'jpg', width: 15, blur: 5}) }}')"
          ) 
          .uk-position-bottom.uk-position.medium.uk-light.z-index-1.uk-text-center.uk-padding
            .max-width
              .row
                .col.col--1-of-4.uk-text-left
                  p.pre-line.smaller TITLE
                  p.uk-margin-remove {{ project.title }}
                .col.col--1-of-4.uk-text-left
                  p.pre-line.smaller COMPANY
                  p.uk-margin-remove {{ project.company }}
                .col.col--1-of-4.uk-text-left
                  p.pre-line.smaller LOCATION
                  p.uk-margin-remove {{ project.location }}
                .col.col--1-of-4.uk-text-left
                  p.pre-line.smaller Architect
                  p.uk-margin-remove {{ project.author.fullName | ucwords }}
                //.col.col--1-of-4.vb
                  a(href="{{ project.url }}") VIEW PROJECT
        {% endfor %}
  section.uk-padding-large
    .max-width
      .uk-padding-large.uk-padding-remove-top.uk-padding-remove-left.uk-padding-remove-right
        .row
          .col.col--3-of-4
            h1 {{ entry.firstHeading }}
        .uk-margin-top.uk-margin-bottom.uk-clearfix.mbs-wrap
          span.uk-text-lead.uk-link-reset.orange-link Recently submitted work / 
          script.
            window.recentWork = {
              {% for cat in craft.categories.group('propertyCategory') %}
              {{ cat.id }} : false,
              {% endfor %}
            };
          {% for cat in craft.categories.group('propertyCategory') %}
          a(href="#/" @click="recentWork[{{ cat.id }}] = !recentWork[{{ cat.id }}]" v-bind:class="{ 'selected' : recentWork[{{ cat.id }}] }").uk-link-reset.orange-link {{ cat.title }} ({{ craft.entries.section('projects').relatedTo(cat).total() }}), 
          {% endfor %}
          a(href="#/" @click="{% for cat in craft.categories.group('propertyCategory') %}recentWork[{{ cat.id }}] = false; {% endfor %}" v-bind:class="{ 'selected' : {% for cat in craft.categories.group('propertyCategory') %}!recentWork[{{ cat.id }}] {{ not loop.last ? '&&' : '' }}{% endfor %} }").uk-link-reset.orange-link.uk-float-right All ({{ craft.entries.section('projects').total() }})
        {% set projects = craft.entries.section('projects').order('dateUpdated desc') %}
        .multi-block-swiper
          .swiper-container.uk-light
            a.uk-position-center-left.uk-position-small(href='#', uk-icon="icon: chevron-left; ratio:2").z-index-10.slide-prev
            a.uk-position-center-right.uk-position-small(href='#', uk-icon="icon: chevron-right; ratio:2").z-index-10.slide-next

            .swiper-wrapper
              {% if projects is not defined %}
              {% set projects = craft.entries.section('projects').order('dateUpdated desc') %}
              {% endif %}
              {% for project in projects %}
              transition(name="fade" mode="out-in")
                .swiper-slide.white-text(v-if="({% for cat in project.propertyCategories %}recentWork[{{ cat.id }}] {{ not loop.last ? '||' : '' }}{% endfor %}) || ({% for cat in craft.categories.group('propertyCategory') %}!recentWork[{{ cat.id }}] {{ not loop.last ? '&&' : '' }}{% endfor %})")
                  a(href="{{ project.url }}").square-image-btn.uk-background-cover
                    .swiper-lazy(
                      data-background="{% for asset in project.headingImage.limit(1) %}{{ craft.imager.transformImage(asset, {width: 300, height: 300, format: 'jpg'}) }}{% endfor %}"
                      style="{% for asset in project.headingImage.limit(1) %}background-image: url('{{ craft.imager.transformImage(asset, {width: 12, blur: 30, format: 'jpg'}) }}'){% endfor %}"
                    )
                    .inner
                      .uk-padding
                        p.pre-line.uk-margin-remove Project name
                        p.uk-margin-remove-top {{ project.title }}
                        p.pre-line.uk-margin-remove Architect
                        p.uk-margin-remove-top {{ project.author.fullName }}
                        p.pre-line.uk-margin-remove Company
                        p.uk-margin-remove-top {{ project.company }}
                        p.pre-line.uk-margin-remove Location
                        p.uk-margin-remove-top {{ project.location }}
              {% endfor %}
            .swiper-scrollbar(class="grabbg-{{ grabBg }}")
  section.uk-padding-large.orange-grad2.white-text
    .max-width
      .uk-padding-large.uk-padding-remove-left.uk-padding-remove-right.orange-text-bg
        .row
          .col.col--3-of-4
            p.pre-line MEMBERS AREA
            h2.uk-margin-medium-bottom {{ entry.secondHeading }}
            //a(href="http://").uk-text-lead.white-btn.uk-margin-medium-left Company directory (57)
            a(href="{{ siteUrl }}members").uk-text-lead.white-btn Individual directory ({{ craft.users.group('members').total }})
            a(href="{{ siteUrl }}companies").uk-text-lead.white-btn.second-btn Company directory ({{ craft.entries.section('companies').total }})
          .col.col--1-of-4.vb.text-right
            a(href="{{ siteUrl }}user").white-btn LOGIN / REGISTER
  {% set user = craft.eventbrite.self.users() %}
  {% set ownedEvents = craft.eventbrite.self.ownedEvents({'status': 'live'}) %}
  {% if ownedEvents | length > 0 %}
  section.uk-padding.uk-padding-large
    .max-width
      .uk-padding-large.uk-padding-remove-left.uk-padding-remove-right
        .row
          .col.col--3-of-4.vb
            p.pre-line.dark UPCOMING EVENTS
            h2 AJA EVENTS
            {% set user = craft.eventbrite.self.users() %}
            {% set ownedEvents = craft.eventbrite.self.ownedEvents({'status': 'live'}) %}

            {% set first = false %}

            {% for ownedEvent in ownedEvents %}
            

            {% if not first %}
            
            {% set venue = craft.eventbrite.venues.venues({'id': ownedEvent.venue_id}) %}
            {% set venueLocation = craft.eventbrite.venues.venueImages({'id': ownedEvent.venue_id}) %}
            {% set eventImage = '' %}
            {% for events in venueLocation.events %}
            {% for key, logo in events.logo %}
            {% if (key == "original") %}
            {% if logo.url %}
            {% set eventImage = logo.url %}
            {% endif %}
            {% endif %}
            {% endfor %}
            {% endfor%}
            h3 {{ ownedEvent.name.text }}
            p.uk-text-muted {{ ownedEvent.start.local | date('l d F Y') }} <span class="uk-margin-small-left uk-margin-small-right">|</span> {{ ownedEvent.start.local | date('h:i a') }} - {{ ownedEvent.end.local | date('h:i a') }}
            {% set venue = craft.eventbrite.venues.venues({'id': ownedEvent.venue_id}) %}
            //p {{venue.address.address_1}}, {{venue.address.localized_area_display}}
            .event-image(style="background-image: url({{eventImage}})")
            p {{ownedEvent.description.text}}
            .uk-text-left
              a(href="{{ ownedEvent.url }}" target="_blank").orange-btn BUY TICKETS
            {% endif %}
            
            {% set first = true %}
            {% endfor %}

          .col.col--1-of-4.text-right.vb
            div
              a(href="{{ siteUrl }}events" target="_blank").orange-btn VIEW ALL
  {% endif %}
  section.grey-bg.uk-padding-large
    {% include '_includes/_ajax-comments.html' %}
    .max-width
      .uk-padding-large.uk-padding-remove-left.uk-padding-remove-right
        {% set grabBg = 'grey' %}
        {% include '_includes/_multi-block-swiper-popular.html' %}
  section.uk-padding-large
    .max-width
      .uk-padding-large.uk-padding-remove-left.uk-padding-remove-right.grey-text-bg
        .row
          .col.col--3-of-4.vb
            p.pre-line.dark WHO WE ARE  |  WHAT WE DO
            h2 {{ entry.thirdHeading }}
            .row
              .col.col--2-of-2.col2
                {{ entry.thirdParagraph  }}
          .col.col--1-of-4.text-right.vb
            div
              a(href="{{ siteUrl }}events").orange-btn EVENTS
            div
              a(href="{{ siteUrl }}education").orange-btn EDUCATION
{% endblock %}
